/* WCML Currency Switcher */
.wcml-dropdown {
	width: auto;		
}

.wcml-dropdown li {
	font-weight: 700;
}

.wcml-dropdown.wcml_currency_switcher {
	padding-right: 20px;
	position: relative;
}

.wcml-dropdown li,
.wcml-dropdown li:hover, 
.wcml-dropdown li:focus {
	background: unset;
	border: unset;
}

.wcml-dropdown li.wcml-cs-active-currency {
	color: var(--bricks-color-cltuod);
    font-size: 12px;
}

li.wcml-cs-active-currency::after {
    content: '';
    position: absolute;
    padding: 5px;
    bottom: -10px;
    left: 0;
    right: 0;
}

.wcml-dropdown a.wcml-cs-item-toggle {
	padding: .5em .5em .4em;
	display: flex;
}

.wcml-dropdown a.wcml-cs-item-toggle::after {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 12 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683418 0.402369 1.31658 0.402369 1.70711 0.792893L6 5.08579L10.2929 0.792893C10.6834 0.402369 11.3166 0.402369 11.7071 0.792893C12.0976 1.18342 12.0976 1.81658 11.7071 2.20711L6.70711 7.20711C6.51957 7.39464 6.26522 7.5 6 7.5C5.73478 7.5 5.48043 7.39464 5.29289 7.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z" fill="white" stroke="rgb(149, 139, 131)"></path></svg>');
	border: unset;
    position: static;
    right: unset;
    margin-left: 5px;
	transition: var(--bricks-transition);
}

.wcml-dropdown a.wcml-cs-item-toggle::before {
	content: '';
    border-bottom: 1px solid var(--bricks-color-cltuod);
    position: absolute;
    bottom: 0;
    left: .5em;
    right: .5em;
	transition: var(--brics-transition);
	transition-duration: .5s;
	transform: scale(0);
	transform-origin: left center;
}

.wcml-dropdown .wcml-cs-submenu {
	padding: 13px 15px 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-content: start;
    align-items: start;
    min-width: 0;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3);
    border-radius: 20px;
	opacity: 0;
	transition: var(--bricks-transition);
	transition-property: opacity, transform;
	right: auto;
    left: -1em;
	max-height: 80vh;
    overflow: auto;
	z-index: 1000;
}

.wcml-dropdown .wcml-cs-submenu li {
	border: unset;
}

.wcml-dropdown li:hover.wcml-cs-active-currency .wcml-cs-submenu, 
.wcml-dropdown li:focus.wcml-cs-active-currency .wcml-cs-submenu {
	opacity: 1;
}

.wcml-dropdown li:hover.wcml-cs-active-currency a.wcml-cs-item-toggle::after,
.wcml-dropdown li:focus.wcml-cs-active-currency a.wcml-cs-item-toggle::after {
	transform: rotate(180deg);
}

.wcml-dropdown .wcml-cs-submenu li a {
	color: var(--bricks-color-5d8d80);
    font-size: 12px;
    line-height: 1;
	white-space: nowrap;
	position: relative;
}

.wcml-spinner {
	display: none;
}

.wcml-dropdown.wcml_currency_switcher i {
	animation: load8 1s linear infinite;
	color: var(--bricks-color-3e1142);
	position: absolute;
	right: 0;
	top: 3px;
}

#brx-header .wcml-dropdown.product {
	margin: 0;
}

#brx-footer .wcml-dropdown a {
	font-size: 14px;
}

#brx-footer .wcml-dropdown .wcml-cs-submenu {
	bottom: 100%;
	top: auto;
	left: -0.8em;
	padding: 10px;
	gap: 5px;
}

#brx-footer .wcml-dropdown li:hover.wcml-cs-active-currency .wcml-cs-submenu, 
#brx-footer .wcml-dropdown li:focus.wcml-cs-active-currency .wcml-cs-submenu {
	transform: translateY(-10px);
}

:where(#brx-footer .wcml-dropdown li:hover.wcml-cs-active-currency, #brx-footer .wcml-dropdown li:focus.wcml-cs-active-currency) a.wcml-cs-item-toggle {
	color: #fff;
}

#brx-footer li.wcml-cs-active-currency::after {
    bottom: auto;
	top: -10px;
}

#brx-footer .wcml-dropdown.wcml_currency_switcher i {
	top: 6px;
	right: 4px;
}

@media (max-width: 1023px) {	
	.wcml-dropdown a.wcml-cs-item-toggle {
		font-size: 14px;
	}		
	
	.wcml-dropdown .wcml-cs-submenu li a {
		font-size: 16px;
	}
	
	#brx-header .wcml-dropdown li {
		font-weight: inherit;
		color: inherit;
	}
	
	#brx-header .wcml-dropdown .wcml-cs-submenu {
	    background-color: var(--bricks-color-3e1142);
		border: 0;
        border-radius: 20px;
		transform: translateY(-3px);
	}
	
	#brx-header .wcml-dropdown a.wcml-cs-item-toggle::after {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 12 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683418 0.402369 1.31658 0.402369 1.70711 0.792893L6 5.08579L10.2929 0.792893C10.6834 0.402369 11.3166 0.402369 11.7071 0.792893C12.0976 1.18342 12.0976 1.81658 11.7071 2.20711L6.70711 7.20711C6.51957 7.39464 6.26522 7.5 6 7.5C5.73478 7.5 5.48043 7.39464 5.29289 7.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z" fill="rgb(149, 139, 131)"></path></svg>');
	}
	
	#brx-header .wcml-dropdown li:hover.wcml-cs-active-currency a.wcml-cs-item-toggle::after,
	#brx-header .wcml-dropdown li:focus.wcml-cs-active-currency a.wcml-cs-item-toggle::after {
		transform: none;
	}
	
	#brx-header .wcml-dropdown.wcml_currency_switcher i {
		color: inherit;
		top: 6px;
		right: 6px;
	}
	
	body.no-scroll #brx-header .wcml-dropdown :where(li.wcml-cs-active-currency, i) {
		color: var(--bricks-color-3e1142);
	}
}

@media (min-width: 1024px) {
	.wcml-dropdown .wcml-cs-submenu li a::after {
		content: '';
		position: absolute;
		bottom: -4px;
		border-bottom: 2px solid var(--bricks-color-5d8d80);
		left: .5em;
		right: .5em;
		transition: var(--brics-transition);
		transition-duration: .5s;
		transform: scale(0);
		transform-origin: left center;
	}
	
	.wcml-dropdown li:hover.wcml-cs-active-currency a.wcml-cs-item-toggle::before,
	.wcml-dropdown li:focus.wcml-cs-active-currency a.wcml-cs-item-toggle::before {
		transform: scale(1);
	}
	
	.wcml-dropdown .wcml-cs-submenu li a:hover::after {
		transform: scale(1);
	}
	
	#brx-header .wcml-dropdown li:hover.wcml-cs-active-currency .wcml-cs-submenu, 
	#brx-header .wcml-dropdown li:focus.wcml-cs-active-currency .wcml-cs-submenu {
		transform: translateY(10px);
	}		
	
	:where(body.blog, body.single-post) .wcml-dropdown li.wcml-cs-active-currency a.wcml-cs-item-toggle {
		color: #fff;
	}
}
