@import "../../styles/utils/layout";

.wp-block-chocante-infobar {
	background-color: var(--wp--custom--color--grey-6);
	font-size: var(--wp--preset--font-size--small);

	&__container {
		width: 100%;
		max-width: var(--wp--style--global--wide-size);
		margin: auto;
		display: flex;
		gap: var(--wp--preset--spacing--10);
		padding-top: var(--wp--preset--spacing--5);
		padding-bottom: var(--wp--preset--spacing--5);

		@include max-width($breakpoint--desktop-md) {
			padding-left: var(--spacing--10);
			padding-right: var(--spacing--10);
		}
	}

	&__icon {
		flex-shrink: 0;
	}

	p {
		margin: 0;
	}
}
