@mixin badge {
	padding: var(--spacing--5) var(--spacing--10);
	border-radius: var(--border-radius--sm);
	background-color: var(--badge--background-color, var(--color--red-1));
	letter-spacing: 0.2em;
	text-transform: uppercase;
	@include font(labels);
	@include font-size(x-small);
	--line-height: 1;
	color: white;

	// @todo: Chocante - Bricks feature verify?
	&.new {
		display: none;
	}
	// END TODO.
}

.badge,
.onsale {
	@include badge;
}
