.wp-block {
	&-footnotes {
		list-style: none;
		padding: 0;
		counter-reset: footnotes;
		padding-top: var(--spacing--30);
		margin-top: var(--spacing--30);
		margin-bottom: 0;
		@include border(grey-3, 1px 0 0);

		li {
			counter-increment: footnotes;
			@include font-size(normal-sm);

			&:not(:last-of-type) {
				margin-bottom: 0.5em;
			}

			&::before {
				content: counter(footnotes);
				--badge--border-radius: 50%;
				--badge--color: var(--color--brown-4);
				--badge--background-color: transparent;
				--badge--padding: 0.1em 0.12em;
				@include badge;
				min-width: 1.5em;
				display: inline-block;
				letter-spacing: 0;
				text-align: center;
				@include border(brown-4);
				margin-right: 0.75em;
				box-sizing: border-box;
			}
		}

		a {
			word-break: break-word;
		}
	}

	&-details {
		background-color: white;
		border-radius: var(--border-radius);

		summary {
			@include font-size(medium-sm);
			@include font(labels);
			padding: var(--spacing--20);
			list-style: none;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			gap: var(--spacing--15);

			&::-webkit-details-marker {
				display: none;
			}

			&::after {
				@include icon-font;
				content: "\0041";
				@include transition;
				font-size: 0.75em;
				@include color(grey-1);
			}
		}

		> * {
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);

			&:first-of-type:not(summary) {
				margin-top: 0;
			}
		}

		& > .content {
			margin: 0;
			& > *:last-child {
				padding-bottom: var(--spacing--20);
			}
		}

		&[open] {
			summary {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}

	&-group {
		@include max-width($breakpoint--mobile-lg) {
			--wp--preset--spacing--30: var(--spacing--15);
			--wp--preset--spacing--40: var(--spacing--20);
			--wp--preset--spacing--50: var(--spacing--20);
			--wp--preset--spacing--100: var(--spacing--30);
		}
	}
}

.wp-element {
	&-caption {
		a {
			text-decoration: underline;

			&:hover {
				color: var(--color--red-1);
			}
		}
	}
}

.is-layout-flex,
.is-layout-grid {
	gap: var(--spacing--30);
}

.wp-site-blocks {
	:where(h1, h2, h3, h4, h5, h6) + :where(h1, h2, h3, h4, h5, h6) {
		margin-top: 0.2em;
	}
}
