.remove_from_cart_button {
	@extend .flex--center;
	@extend .transition--color;

	svg {
		width: 14px;
		height: 14px;
	}

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 1;
		transition: none;
	}
}
