.remove_from_cart_button,
.woocommerce-cart-form__cart-item .remove {
	@extend .flex--center;
	@extend .transition--color;
	@extend .color--primary-main;

	svg {
		width: 12px;
		height: 12px;
	}

	&:hover {
		@extend .color--primary-contrast;
	}

	&:active {
		transition: none;
	}
}
