@mixin content {
	h1,
	h2,
	h3,
	h4,
	h5 {
		@include font(headings);
		letter-spacing: 0.05em;
	}

	h1,
	h2 {
		@include font-size(x-large);
	}

	h3 {
		@include font-size(large);
	}

	h4 {
		@include font-size(big);
	}

	h5 {
		@include font-size(medium);
	}

	h6 {
		@include font-style(section-label);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-top: 0.5em;
		padding-bottom: 0.35em;
	}

	ul,
	ol {
		padding: 0.5em 0 1em 1.5em;
		margin: 0;

		li {
			padding-left: 1em;
			padding-bottom: 0.5em;
		}
	}

	ul {
		list-style-type: "\2014";
	}

	a {
		@include link;
	}

	:where(p) {
		margin: 0 0 1.2em;
	}

	:where(p:last-of-type) {
		margin-bottom: 0;
	}

	:where(p:last-of-type) + h1,
	:where(p:last-of-type) + h2,
	:where(p:last-of-type) + h3,
	:where(p:last-of-type) + h4,
	:where(p:last-of-type) + h5,
	:where(p:last-of-type) + h6 {
		margin-top: 1.2em;
	}
}
