[type="text"],
[type="password"],
[type="number"],
[type="email"],
[type="tel"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="time"],
[type="url"],
[type="week"],
textarea,
.input-text {

	@include input;
}

// Label.
label {
	font-weight: var(--font-weight--bold);
	color: var(--label--color, var(--wp--preset--color--base));
	line-height: 1.15;
	display: inline-block;
	vertical-align: middle;

	&[for] {
		cursor: pointer;
	}

	&:has([type="checkbox"]) {
		--label--color: var(--wp--preset--color--body);

		@include radio-label;

		[type="checkbox"] {
			margin-right: var(--spacing--10);
			vertical-align: middle;
		}
	}

	.required {

		@include color(contrast);
	}

	.optional {

		@include font-size(small);
		@include color(grey-2);
		font-weight: var(--font-weight--normal);
	}

	&.woocommerce-form__label {

		&.woocommerce-form__label-for-checkbox {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
		}
	}
}

// Select.
select {

	@include select-arrow;
	padding-right: 40px;

	@include color(body);
	border: 0;
	font-weight: var(--font-weight--normal);
}

.dropdown {

	@include dropdown;

	&__list {

		@include dropdown(true);
	}

	&__list-item {

		@include dropdown-list-item;
	}
}

// Radio.
input[type="radio"] {

	@include radio;
}

// Checkox.
input[type="checkbox"] {

	@include checkbox;
}

// WooCommerce.
[class$="-fields"] {

	@include form-wrapper;
}

[class$="__field-wrapper"] {

	@include fields-wrapper;
}

.woocommerce-invalid {
	--input--border: var(--wp--custom--color--error);
	--input--background-color: var(--wp--custom--color--error-bg);
	--label--color: var(--wp--custom--color--error);
	--radio--border: var(--wp--custom--color--error);
}

[class*="inline-error-message"],
.coupon-error-notice {

	@include font-size(small-sm);
	@include color(error);
	padding-top: 0.35em;
}
