.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mobile-menu {
	display: flex;
	flex-direction: column;
	gap: var(--spacing--20);
	@include side-nav;

	&__nav {
		gap: var(--spacing--15);

		> li {
			> a {
				font-family: var(--font-family--headings);
				font-weight: var(--font-weight--normal);
				font-size: 40px;
				line-height: 1.125;
				letter-spacing: 0.05em;
				padding: var(--spacing--10) 0;
				display: block;
			}

			> ul {
				padding-bottom: var(--spacing--10);
			}
		}
	}

	&__nav,
	&__after-nav {
		a {
			font-weight: var(--font-weight--semibold);
			font-size: var(--font-size--medium);
			padding: var(--spacing--10) 0;
			display: block;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: left;
			display: flex;
			flex-direction: column;
		}
	}

	&__top {
		display: flex;
		align-items: start;
		gap: var(--spacing--20);

		.wpml-ls-legacy-dropdown,
		.wpml-ls-legacy-dropdown-click,
		.wcml-dropdown,
		.wcml-dropdown-click {
			a {
				@include font-size(medium);

				&.wpml-ls-item-toggle,
				&.wcml-cs-item-toggle {
					@include font-size(normal);
				}
			}

			.wpml-ls-sub-menu,
			.wcml-cs-submenu {
				right: 0;
				left: auto;
				min-width: 100%;
			}
		}

		button[data-close-modal] {
			position: relative;
			left: -10px;
		}
	}

	&__top-sidebar {
		flex-grow: 1;
		display: flex;
		justify-content: end;
		gap: var(--spacing--20);
	}
}
