.backdrop {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include transition;
	opacity: 0;
	@include bg(base);
	z-index: var(--z-index--modal-backdrop);

	&.active {
		opacity: 0.95;
	}
}

button[data-close-modal] {
	@include icon-button;
}
