@mixin notice(
	$bg: var(--color--grey-5),
	$color: var(--color--grey-1),
	$icon: "",
	$allow-vars: true
) {
	display: block;
	border-radius: var(--border-radius);
	padding: var(--spacing--15) var(--spacing--20);
	@include font-size(small);
	text-align: left;
	list-style: none;
	width: 100%;

	@if $allow-vars == true {
		background-color: var(--notice--background-color, #{$bg});
		color: var(--notice--color, #{$color});
	} @else {
		background-color: $bg;
		color: $color;
	}

	@if $icon != "" {
		@include notice-with-icon($icon);
	}

	a:not(.button) {
		@include link;

		// @todo: Chocante - Bricks remove.
		--bricks-color-ce3d3b: transparent;
		// END TODO.
	}

	.button {
		@include link;

		& {
			color: inherit;
		}

		&,
		&:hover {
			background: none;
			box-shadow: none;
			padding: 0;
			border-radius: 0;
			font-size: inherit;
		}
	}
}

@mixin notice-with-icon($url) {
	--notice-icon-size: 24px;

	background-image: url($url);
	background-repeat: no-repeat;
	background-position: var(--spacing--20);
	background-size: var(--notice-icon-size);
	padding-left: calc(
		var(--spacing--20) + var(--notice-icon-size) + var(--spacing--10)
	);
}
