@mixin notice {
	display: block;
	border-radius: var(--border-radius);
	padding: var(--spacing--15) var(--spacing--20);
	@include font-size(small);
	text-align: left;
	list-style: none;
	width: 100%;
	background-color: var(--notice--background-color, var(--color--grey-5));
	color: var(--notice--color, var(--color--grey-1));

	&::before {
		content: var(--notice--icon);
		margin-right: var(--spacing--5);
		width: var(--notice-icon-size, 24px);
		height: var(--notice-icon-size, 24px);
		display: inline-block;
		vertical-align: middle;
	}

	a:not(.button) {
		@include link;

		// @todo: Chocante - Bricks remove.
		--bricks-color-ce3d3b: transparent;
		// END TODO.
	}

	.button {
		@include link;

		& {
			color: inherit;
		}

		&,
		&:hover {
			background: none;
			box-shadow: none;
			padding: 0;
			border-radius: 0;
			font-size: inherit;
		}
	}
}
