.woocommerce-notices-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing--20);
	width: 100%;

	:where(&:not(:empty)) {
		margin: 0;
	}

	&:empty {
		display: none;
	}

	ul {
		list-style: none;
	}
}

.woocommerce {

	&-info,
	&-success,
	&-message,
	&-error {

		@include notice;
	}

	&-info,
	&-message {
		--notice--icon: url(../icons/icon-info.svg);
		--notice--icon-color: var(--wp--custom--color--contrast);
	}

	&-error {
		--notice--background-color: var(--wp--custom--color--error-bg);
		--notice--color: var(--wp--custom--color--error);

		&:is(:not(div)) {
			--notice--icon: url(../icons//icon-error.svg);
			--notice--icon-color: var(--wp--custom--color--contrast);
		}
	}
}
