.woocommerce-pagination {

	ul.page-numbers {

		@include pagination;
	}

	&--without-numbers {
		display: flex;
		justify-content: space-between;

		.woocommerce-button {

			@include button;
			@include button-style-outline;

			&--next {
				margin-left: auto;
			}
		}
	}
}

.pagination .nav-links {

	@include pagination;
}
