.product {
	.price {
		@include font-size(medium-sm);
		display: block;

		[lang="es-ES"] .products & {
			@include font-size(normal);
		}

		.woocommerce {
			&-Price-amount {
				@include font-size(big);
				font-weight: var(--font-weight--bold);
				@include color(green-1);

				[lang="es-ES"] .products & {
					@include font-size(medium);
				}
			}

			&-price-suffix {
				@include font-size(small);
			}
		}

		del {
			margin-right: 0.2em;
			text-decoration: none;
			position: relative;
			top: -2px;

			.woocommerce-Price-amount {
				@include font-size(normal-sm);
				@include color(grey-2);
			}

			&::after {
				content: "";
				position: absolute;
				top: 2px;
				left: 0;
				z-index: 2;
				height: 100%;
				width: 100%;
				background: linear-gradient(
					to top left,
					transparent calc(50% - 1px),
					var(--color--green-1),
					transparent calc(50% + 1px)
				);
			}
		}

		ins {
			text-decoration: none;
		}

		.products & {
			margin-top: var(--spacing--10);
		}
	}
}
