$slider-navigation-size: 50px;

.product-section {
	background-color: white;
	padding-top: var(--spacing--30);
	padding-bottom: var(--spacing--30);
	overflow: hidden;
	min-height: 500px;

	@include min-width($breakpoint--desktop) {
		padding: var(--spacing--40) 0;
	}

	&__header {
		display: flex;
		gap: var(--spacing--20);
		align-items: end;
		padding-bottom: var(--spacing--20);
		padding-top: var(--spacing--15);
		@include container();

		a {
			@include button(secondary, $size: lg);
			flex-shrink: 0;
			@include hide(mobile);
		}
	}

	&__heading {
		@include font-style(page-title);

		& {
			padding: 0;
			flex-grow: 1;
		}

		span {
			@include font-style(section-label);
			@include color(grey-2);
			display: block;
			padding-bottom: 0.75em;
		}
	}

	&__empty {
		@include empty-screen;

		& {
			min-height: 300px;
			position: relative;
		}
	}

	&__spinner {
		@include flex(center);
		min-height: 300px;
	}

	.splide {
		padding-left: var(--spacing--20);
		padding-right: var(--spacing--20);

		&.is-initialized {
			.product {
				opacity: 0.3;

				&.is-visible {
					opacity: 1;
				}
			}
		}

		&__track {
			padding-left: 0;
			padding-right: 0;
			padding-top: var(--spacing--10);
			overflow: visible;
			@include container();

			@include min-width($breakpoint--desktop) {
				padding-top: var(--spacing--20);
				padding-bottom: var(--spacing--20);
			}
		}

		&__arrow {
			@include nav-button;
			position: absolute;
			top: 100%;
			z-index: 10;
			margin-top: var(--spacing--15);

			@include min-width($breakpoint--desktop + $slider-navigation-size) {
				top: 50%;
				margin-top: 0;
			}

			&:disabled {
				display: none;
			}

			&--prev {
				left: 0;

				@include min-width($breakpoint--desktop + $slider-navigation-size) {
					transform: translate3d(-100%, -50%, 0);
					left: -15px;
				}
			}

			&--next {
				right: 0;

				@include min-width($breakpoint--desktop + $slider-navigation-size) {
					transform: translate3d(100%, -50%, 0);
					right: -15px;
				}
			}
		}

		&__pagination {
			display: flex;
			justify-content: center;
			padding: var(--spacing--30) 70px 0;
			gap: var(--spacing--10);

			&__page {
				width: 5px;
				height: 5px;
				border-radius: 2px;
				@include transition("background-color, width");
				@include bg(green-1);
				cursor: default;

				&.is-active {
					@include bg(grey-3);
					width: 25px;
				}
			}
		}
	}
}
