.splide {
	&__pagination {
		display: flex;
		justify-content: center;
		padding: var(--spacing--30) 70px 0;
		gap: var(--spacing--10);

		&:is(ul) {
			list-style: none;
		}

		&__page {
			--wp--custom--transition--property: background-color, width;

			width: 5px;
			height: 5px;
			border-radius: 2px;
			@include transition;
			background-color: var(
				--splide--pagination-page--background-color,
				var(--wp--preset--color--base)
			);
			cursor: default;

			&.is-active {
				@include bg(grey-3);
				width: 25px;
			}
		}
	}
}
