.splide {
	--pagination--size: 5px;
	--pagination--size--active: 25px;

	&__pagination {
		display: flex !important;
		justify-content: center;
		align-items: center;
		padding: var(--spacing--10) 70px;
		gap: var(--spacing--10);
		min-height: var(--spacing--70);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		&:is(ul) {
			list-style: none;
		}

		li {
			display: flex;
		}

		&__page {
			--wp--custom--transition--property: background-color, width;

			width: var(--pagination--size);
			height: var(--pagination--size);
			border-radius: 2px;

			@include transition;
			background-color: var(--splide--pagination-page--background-color, var(--wp--preset--color--base));
			cursor: default;

			&.is-active {

				@include bg(grey-3);
				width: var(--pagination--size--active);
			}
		}
	}
}
