.woocommerce-account {
	--body--background-color: var(--wp--preset--color--grey);
	--user-icon-size: 40px;

	@include max-width($breakpoint--desktop-md) {
		--notice--background-color: var(--wp--preset--color--white);
	}

	.woocommerce-MyAccount-navigation:has(
	.woocommerce-MyAccount-navigation-link--dashboard.is-active
) + .woocommerce-MyAccount-content {
		--notice--background-color: var(--wp--preset--color--white);
	}

	.woocommerce-notices-wrapper:not(:empty) {
		margin-bottom: var(--spacing--20);
	}

	main {

		@include container;
		padding-top: var(--spacing--20);
		padding-bottom: var(--spacing--50);

		@include min-width($breakpoint--desktop-md) {
			padding-bottom: var(--spacing--100);
		}
	}

	.page {

		&-header {

			@include max-width($breakpoint--mobile-lg) {
				margin-bottom: var(--spacing--20);
				display: none;
			}

			@include min-width($breakpoint--mobile-lg) {
				grid-column: 1 / 3;
			}
		}

		&-title {

			@include max-width($breakpoint--mobile-lg) {
				padding: 0;
			}
		}
	}

	.woocommerce {

		&:has(.woocommerce-MyAccount-navigation) {

			@include min-width($breakpoint--mobile-lg) {
				display: grid;
				grid-template-columns: 270px auto;
				align-items: start;
				column-gap: var(--spacing--30);
				row-gap: var(--spacing--20);
			}
		}

		&-MyAccount {

			&-navigation {

				@include box;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: var(--spacing--10);
				margin-bottom: var(--spacing--10);

				@include max-width($breakpoint--mobile-lg) {
					display: none;
				}

				&__header {
					display: grid;
					grid-template-columns: var(--user-icon-size) auto;
					column-gap: var(--spacing--10);
					row-gap: 0.1em;
					align-items: start;
					padding: 0 var(--spacing--20) var(--spacing--20);

					@include border(grey-3, $width: 0 0 1px);
				}

				&__header-icon {

					@include circle(var(--user-icon-size));
					@include bg(grey-3);
					@include flex(center);
					color: var(--wp--preset--color--white);
					margin: 0;
					grid-row: 1 / 3;

					svg path {
						fill: var(--wp--preset--color--white);
					}
				}

				&__username {

					@include font-size(medium-sm);
					font-weight: var(--font-weight--semibold);

					@include color(accent);
					word-break: break-all;
				}

				&__email {

					@include font-size(normal-sm);
					font-weight: var(--font-weight--bold);

					@include color(bronw-4);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				ul {

					@include list-reset;
				}

				&-link {

					&:first-of-type {
						padding-top: var(--spacing--10);
					}

					&:nth-last-of-type(2) {
						padding-bottom: var(--spacing--10);
					}

					&:last-of-type {
						padding-top: var(--spacing--10);

						@include border(grey-3, $width: 1px 0 0);
					}

					a {

						@include font-size(medium-sm);
						font-weight: var(--font-weight--semibold);
						width: 100%;
						display: flex;
						align-items: center;
						gap: var(--spacing--15);
						padding: var(--spacing--20);
						text-decoration: none;
						color: currentcolor;

						svg {

							@include transition;
							@include color(base-6);
						}
					}

					&.is-active {

						a {

							@include bg(grey-4);
						}
					}

					&:not(.is-active) {

						a:hover {

							&,
							svg {

								@include color(contrast);
							}
						}
					}
				}

				&:not(:has(.woocommerce-MyAccount-navigation-link--dashboard.is-active)) + .woocommerce-MyAccount-content {

					@include min-width($breakpoint--desktop-sm) {

						@include box;
					}
				}
			}

			&-content {

				&__header {
					display: flex;
					align-items: center;
					gap: var(--spacing--10);
					margin-bottom: var(--spacing--20);

					@include hide(tablet);

					.page-title {
						padding: 0;
					}
				}

				&__back-button {
					--nav-button--size: 40px;

					@include nav-button;
				}

				form {

					h2 {

						@include font-style(section-label);
						@include color(base);
						margin: 0;
						padding-bottom: var(--spacing--20);
					}
				}

				&:not(:has(.woocommerce-pagination)) {

					.woocommerce-orders-table__row:last-child {
						border-bottom: 0;
					}
				}
			}
		}

		&-orders-table {

			@include font-size(normal-sm);

			@include max-width($breakpoint--desktop-sm) {

				thead {
					display: none;
				}

				tbody {
					display: flex;
					flex-direction: column;
					gap: var(--spacing--20);
				}

				&__row {

					@include box;
					display: flex;
					flex-direction: column;
				}

				&__cell {

					&:not(.woocommerce-orders-table__cell-order-status-number):not(
					.woocommerce-orders-table__cell-order-actions
				) {
						display: flex;
						gap: var(--spacing--10);
						font-weight: var(--font-weight--bold);

						&::before {
							content: attr(data-title);
							font-weight: var(--font-weight--normal);
							flex-grow: 1;
						}
					}
				}
			}

			@include min-width($breakpoint--desktop-sm) {

				&__header {

					@include font-size(x-small);
					@include color(grey-2);
					text-align: left;
					font-weight: var(--font-weight--normal);
					text-transform: uppercase;
					letter-spacing: 0.2em;
				}

				&__row {
					vertical-align: baseline;

					@include border(grey-3, $width: 0 0 1px);
				}

				&__cell {
					padding-top: var(--spacing--30);
					padding-bottom: var(--spacing--30);
				}
			}

			&__cell-order-actions {
				display: flex;
				gap: var(--spacing--5);
				align-items: start;
				flex-direction: column;

				@include max-width($breakpoint--desktop-sm) {
					padding-top: var(--spacing--15);
				}
			}

			ins {
				text-decoration: none;
			}

			del {

				@include color(grey-2);
			}
		}

		&-pagination {
			margin-top: var(--spacing--15);
		}

		&-Address {
			display: flex;
			flex-direction: column;
			align-items: start;

			@include box;

			h2 {

				@include font-style(section-label);
			}

			address {

				@include font-size(small);
				margin-top: var(--spacing--15);
				margin-bottom: var(--spacing--20);
				flex-grow: 1;
			}

			.edit {

				@include button;
				@include button-style-outline;
			}
		}

		&-Addresses {
			margin-top: var(--spacing--20);

			.woocommerce-Address {

				@include min-width($breakpoint--desktop-sm) {
					border-radius: 0;
					padding: 0;
					background: none;
				}
			}
		}

		&-ResetPassword {

			@include box;
			margin: auto;
		}
	}

	.order {

		&-number {
			font-weight: var(--font-weight--bold);

			@include color(bronw-4);
		}

		&-status {

			@include badge;
			font-size: 10px;

			&--pending {
				--badge--background-color: var(--wp--custom--status--pending);
			}

			&--on-hold {
				--badge--background-color: var(--wp--custom--status--on-hold);
			}

			&--completed {
				--badge--background-color: var(--wp--custom--status--completed);
			}

			&--failed {
				--badge--background-color: var(--wp--custom--status--failed);
			}

			&--cancelled {
				--badge--background-color: var(--wp--custom--status--cancelled);
			}

			&--refunded {
				--badge--background-color: var(--wp--custom--status--refunded);
			}

			&--processing {
				--badge--background-color: var(--wp--custom--status--processing);
			}
		}
	}

	.order-status-number,
	.woocommerce-orders-table__cell-order-status-number {
		display: flex;
		align-items: center;
		gap: var(--spacing--5);

		@include max-width($breakpoint--desktop-sm) {
			flex-direction: column;
			align-items: start;
			padding-bottom: var(--spacing--15);
		}

		.order-status {

			@include min-width($breakpoint--desktop-sm) {
				order: 2;
				max-width: 220px;
			}
		}
	}

	.box {
		display: flex;
		flex-direction: column;
		align-items: start;

		@include box;

		&__heading {

			@include font-style(section-label);
			margin-top: 0;
			margin-bottom: var(--spacing--15);
		}

		&__item {
			display: flex;
			gap: var(--spacing--10);
			width: 100%;

			&-label {
				flex-grow: 1;
			}

			&-value {
				font-weight: var(--font-weight--bold);
			}
		}

		&__item,
		address {

			@include font-size(small);
		}

		address,
		&__empty,
		&__content {
			flex-grow: 1;
			width: 100%;
		}

		&__link {
			margin-top: var(--spacing--20);

			@include button;
			@include button-style-outline;
		}

		.order-status-number {

			@include min-width($breakpoint--desktop-sm) {
				margin-bottom: var(--spacing--15);
			}
		}
	}

	.dashboard,
	.woocommerce-Addresses {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--30);

		@include min-width($breakpoint--mobile) {
			display: grid;

			@include max-width($breakpoint--mobile-lg) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@include min-width($breakpoint--desktop-sm) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.order-details {
	display: flex;
	flex-direction: column;
	gap: var(--spacing--40);

	> *:not(.woocommerce-order-details) {
		max-width: var(--size--form);
	}

	/* stylelint-disable-next-line no-descending-specificity */
	h2 {

		@include font-style(section-label);
		margin-bottom: var(--spacing--20);
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 0.2em;
	}

	.woocommerce {

		&-OrderUpdates {

			@include list-reset;
			display: flex;
			flex-direction: column;
			gap: var(--spacing--10);
		}

		&-OrderUpdate-meta {

			@include font-size(x-small);
			@include color(grey-2);
		}

		&-table--order-details {

			thead {
				display: none;
			}

			tbody {

				@include font-size(normal-sm);

				@include min-width($breakpoint--mobile-sm) {

					tr:not(:last-child) {

						td {
							padding-bottom: var(--spacing--15);
						}
					}
				}
			}

			tfoot {

				th {
					text-align: left;
					font-weight: var(--font-weight--normal);
				}

				@include min-width($breakpoint--mobile-sm) {

					tr:first-child {

						th,
						td {
							padding-top: var(--spacing--20);
						}
					}
				}
			}

			/* stylelint-disable-next-line no-descending-specificity */
			th,
			td {
				vertical-align: baseline;

				@include max-width($breakpoint--mobile-sm) {
					display: block;
					width: 100%;
				}
			}

			td:last-child {

				@include max-width($breakpoint--mobile-sm) {
					padding-bottom: var(--spacing--10);
				}
			}

			.product {

				&-name {

					@include min-width($breakpoint--mobile-sm) {
						padding-right: var(--spacing--30);
					}

					small {
						display: block;

						@include font-size(small-sm);
					}
				}

				&-quantity,
				&-variation-quantity {
					display: block;
					font-weight: var(--font-weight--normal);
				}

				&-variation-quantity .product-quantity {
					display: inline;
				}

				&-total {

					@include min-width($breakpoint--mobile-sm) {
						width: 40%;
					}
				}
			}

			.order_total {

				th,
				td {
					font-weight: var(--font-weight--bold);
				}
			}

			.customer-note {

				th,
				td {
					display: block;
				}

				th {

					@include font-style(section-label);
					margin: var(--spacing--20) 0 var(--spacing--10);
				}

				td {
					font-weight: var(--font-weight--normal);

					@include font-size(small);
				}
			}
		}

		&-columns--addresses {

			@include font-size(small);

			display: flex;
			flex-direction: column;
			gap: var(--spacing--30);

			@include min-width($breakpoint--mobile-lg) {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	.order-again .button {
		margin-top: var(--spacing--15);

		@include button;
		@include button-style-outline;
	}
}

.woocommerce {

	&:has(#customer_login) {
		padding-top: var(--spacing--20);

		.page-title {
			margin-bottom: 0.5em;
		}
	}

	/* stylelint-disable-next-line no-descending-specificity */
	&:has(.woocommerce-ResetPassword) {
		padding-top: var(--spacing--20);

		@include min-width($breakpoint--desktop-sm) {
			padding-top: var(--spacing--50);
		}
	}
}

#customer_login {
	display: flex;
	flex-direction: column;
	gap: var(--spacing--30);

	@include min-width($breakpoint--desktop-sm) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	> div {

		@include box;

		h2 {

			@include font-style(section-label);
			@include color(base);
			padding-bottom: var(--spacing--20);
			margin: 0;
		}
	}
}

.woocommerce-lost-password {
	/* stylelint-disable-next-line no-descending-specificity */
	.woocommerce {
		max-width: var(--size--form);
		margin: auto;
	}

	.woocommerce-message {
		font-weight: var(--font-weight--bold);
		margin-bottom: var(--spacing--20);
		margin-top: var(--spacing--20);
	}
}

.woocommerce-form-register {

	p:not([class]) {
		background: url(../icons/icon-info.svg) no-repeat left top;
		padding-left: var(--spacing--30);
	}
}
