@import "../utils";

.wp-block {

	&-footnotes {
		list-style: none;
		padding: 0;
		counter-reset: footnotes;
		padding-top: var(--spacing--30);
		margin-top: var(--spacing--30);
		margin-bottom: 0;

		@include border(grey-3, 1px 0 0);

		li {
			counter-increment: footnotes;

			@include font-size(normal-sm);

			&:not(:last-of-type) {
				margin-bottom: 0.5em;
			}

			&::before {
				content: counter(footnotes);
				--badge--border-radius: 50%;
				--badge--color: var(--wp--preset--color--base);
				--badge--background-color: transparent;
				--badge--padding: 0.1em 0.12em;

				@include badge;
				min-width: 1.5em;
				display: inline-block;
				letter-spacing: 0;
				text-align: center;

				@include border(base);
				margin-right: 0.75em;
				box-sizing: border-box;
			}
		}

		a {
			word-break: break-word;
		}
	}

	&-details {
		background-color: var(--wp--preset--color--white);
		border-radius: var(--border-radius);

		summary {

			@include font-size(medium-sm);
			@include font(labels);
			padding: var(--spacing--20);
			list-style: none;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			gap: var(--spacing--15);

			&::-webkit-details-marker {
				display: none;
			}

			&::after {

				@include icon-font;
				content: "\0041";

				@include transition;
				font-size: 0.75em;

				@include color(body);
			}
		}

		> * {
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);

			&:first-of-type:not(summary) {
				margin-top: 0;
			}
		}

		> .content {
			margin: 0;

			> *:last-child {
				padding-bottom: var(--spacing--20);
			}
		}

		&[open] {

			summary {

				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}

	&-group {

		@include max-width($breakpoint--mobile-lg) {
			--wp--preset--spacing--30: var(--spacing--15);
			--wp--preset--spacing--40: var(--spacing--20);
			--wp--preset--spacing--50: var(--spacing--20);
			--wp--preset--spacing--100: var(--spacing--30);
		}

		&.alignfull {
			overflow: hidden;
		}

		&.is-style-rounded {
			border-radius: var(--border-radius);
		}

		&.splide {
			visibility: visible;

			.splide__arrows {
				display: none;
			}

			@include min-width($breakpoint--desktop-md) {

				&,
				&.splide.is-initialized:not(.is-active) {

					.splide {

						&__list {
							display: flex;
							gap: var(--wp--preset--spacing--30);
							justify-content: center;
						}
					}
				}
			}

			@include max-width($breakpoint--desktop-md) {

				.splide {

					&__list {

						&,
						&.is-layout-flex {
							flex-wrap: nowrap;
							gap: 0;
							justify-content: start;
						}
					}

					&__track {
						overflow: visible;
					}

					&__slide {
						margin-right: 20px;
					}
				}
			}
		}
	}

	&-button {

		&__link {

			@include button;
			@include button-size-lg;
		}

		&.is-style-outline,
		&.is-style-chocante-outline {

			.wp-block-button__link {

				@include button-style-outline;
			}
		}

		&.is-style-inverted {

			.wp-block-button__link {

				@include button-style-inverted;
			}
		}

		&.is-style-inverted-outline {

			.wp-block-button__link {

				@include button-style-outline-inverted;
			}
		}
	}

	&-media-text {
		gap: var(--wp--preset--spacing--30);

		@include max-width($breakpoint--mobile-lg) {
			display: flex;
			flex-direction: column;

			.wp-block-media-text__content {
				order: 1;
			}

			.wp-block-media-text__media {
				order: 2;
			}
		}

		&.has-media-on-the-right > .wp-block-media-text__content {
			padding-left: 0;
			padding-right: 0;

			@include min-width($breakpoint--mobile-lg) {
				padding-right: 10%;
			}
		}

		&:not(.has-media-on-the-right) > .wp-block-media-text__content {
			padding-right: 0;
			padding-left: 0;

			@include min-width($breakpoint--mobile-lg) {
				padding-left: 10%;
			}
		}

		@include max-width($breakpoint--mobile-lg) {

			&.is-stacked-on-mobile > .wp-block-media-text {

				&__media {
					grid-column: 1;
					grid-row: 2;
				}

				&__content {
					grid-column: 1;
					grid-row: 1;
				}
			}

			&.is-image-fill-element > .wp-block-media-text__media img {
				position: relative;
			}
		}

		&.is-style-splash {

			.wp-block-media-text__content {
				gap: var(--wp--style--block-gap);
				display: flex;
				flex-direction: column;
				padding: 0;
				z-index: 2;
			}

			&.has-media-on-the-right > .wp-block-media-text__content {

				@include min-width($breakpoint--mobile-lg) {
					width: 70%;
					grid-column: 1 / span 2;

					> *:not(.wp-block-heading) {
						margin-right: 35%;
					}
				}
			}

			.wp-block-media-text__media {
				border-radius: var(--border-radius);
				overflow: hidden;
			}
		}
	}
}

.wp-element {

	&-caption {

		a {
			text-decoration: underline;

			&:hover {
				color: var(--wp--custom--color--contrast);
			}
		}
	}
}

.wp-site-blocks,
.wp-block-post-content {

	h1 {
		margin-top: 0.35em;
		margin-bottom: 0.35em;
	}

	h2 {
		margin-top: 0.75em;
		margin-bottom: 0.35em;
	}

	:is(h3, h4) {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	h5 {
		margin-top: 1.5em;
		margin-bottom: 0.5em;
	}

	h6 {
		margin-top: 2em;
		margin-bottom: 0.5em;
	}

	:is(h1, h2, h3, h4, h5, h6) {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		+ :is(h1, h2, h3, h4, h5, h6) {
			// margin-top: 0.2em;
			margin-top: 0;
		}

		&[style*="underline"] {
			text-underline-offset: 0.25em;
			text-decoration-thickness: 3px !important;
			line-height: 1.4;
		}
	}

	// @todo: revisit.
	> :where(.alignfull, .alignwide) + :where(.alignfull, .alignwide) {
		margin-top: 0;
	}
	// END TODO.
}
