body {
	&.blog {
		--header--background-color: var(--color--brown-6);
		--header--text-color-secondary: var(--color--grey-3);
		--header--border-color: var(--color--grey-2);
		--body--background-color: var(--header--background-color);
		--join-group--background-color: white;
		--product-section--background-color: var(--color--grey-5);

		&:has(.product-section) {
			--join-group--background-color: var(--color--grey-5);
		}
	}

	main {
		background-color: white;
	}
}

.posts {
	--post-thumbnail-size: 330px;
	@include container;

	& {
		padding-top: var(--spacing--50);
		padding-bottom: var(--spacing--100);
	}

	&__loop {
		display: grid;
		gap: var(--spacing--30);

		@include min-width($breakpoint--mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include min-width($breakpoint--desktop-sm) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include min-width($breakpoint--desktop-md + 40) {
			grid-template-columns: repeat(4, 1fr);
		}

		& {
			grid-auto-rows: var(--post-thumbnail-size);
			padding: 0.5em 0 var(--spacing--30);
		}
	}
}
