:root {
	--content--background-color: var(--wp--preset--color--white);
}

html {
	scroll-behavior: smooth;
	background-color: var(--header--background-color, var(--wp--preset--color--white));
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	background-color: var(--body--background-color, var(--wp--preset--color--white));
}

main,
article {
	background-color: var(--content--background-color);
}

main {
	container-type: inline-size;
	container-name: blocks;
}
