html[chocante] {
	@include bg(base);
	scroll-behavior: smooth;
}

body {
	background-color: var(--body--background-color, white);
	overflow-x: hidden;
}

main,
article {
	background-color: var(--content--background-color);
}
