html[chocante] {
	@extend .bg--primary-main;
}

body {
	@extend .font--body;
	line-height: $line-height;
	@extend .color--text;
	background-color: white;
	overflow-x: hidden;

	// @todo: Chocnate - Bricks forge.
	--brf-p-font-size: #{$font-size--normal};
	// END TODO.
}
