.woocommerce-cart {
	--body--background-color: var(--wp--preset--color--grey);
	--notice--background-color: var(--wp--preset--color--white);
	--join-group--background-color: var(--wp--preset--color--white);

	&:not(.cart-empty) .page-title {
		width: 100%;
		margin-bottom: 0;
	}

	.woocommerce {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--20);
		padding-top: var(--spacing--20);
		padding-bottom: var(--spacing--50);

		@include container;

		@include min-width($breakpoint--desktop-sm) {
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: var(--spacing--30);
		}

		@include max-width($breakpoint--desktop-sm) {
			padding-bottom: var(--spacing--30);
		}

		.before-cart {
			flex: 0 0 100%;

			&.brxe-container {
				width: 100%;
			}
		}

		&-cart-form {
			flex: 1 0 60%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: var(--spacing--20);

			@include min-width($breakpoint--desktop-sm) {
				gap: var(--spacing--30);
			}

			&__contents {

				thead,
				.actions {
					display: none;
				}

				tbody {

					tr {
						border: 0;
						position: relative;
					}

					td {
						padding: 0;

						&[data-title]::before {
							content: none;
						}
					}
				}
			}

			&__cart-item {
				display: grid;
				grid-template-columns: 60px 1fr;
				grid-template-rows: repeat(3, auto);
				align-items: center;
				column-gap: var(--spacing--20);
				row-gap: var(--spacing--10);
				padding: var(--spacing--15) 0;

				@include min-width($breakpoint--mobile-sm) {
					grid-template-columns: 100px 1fr;
				}

				@include min-width($breakpoint--mobile) {
					grid-template-columns: 130px 1fr;
					padding: var(--spacing--20) 0;
				}

				@include min-width($breakpoint--mobile-lg) {
					grid-template-columns: 130px repeat(auto-fill, minmax(20%, 1fr));
					grid-template-rows: repeat(2, auto);
					row-gap: var(--spacing--15);
				}

				@include min-width($breakpoint--desktop-sm) {
					padding: var(--spacing--30) 0;
				}

				.product-remove {
					position: absolute;
					right: 0;
					top: var(--spacing--5);

					@include min-width($breakpoint--mobile) {
						padding: var(--spacing--10) 0;
					}

					@include min-width($breakpoint--desktop-sm) {
						top: var(--spacing--10);
					}

					.remove {

						@include remove-button;
						width: 30px;
						height: 30px;
					}
				}

				.product-thumbnail {
					grid-area: 1 / 1 / 2 / 2;
					align-self: start;

					@include min-width($breakpoint--mobile-sm) {
						grid-row: 1 / 4;
					}

					@include min-width($breakpoint--mobile-lg) {
						grid-row: 1 / 3;
					}

					img {
						width: 100%;

						@include transition;
					}

					a {
						display: block;
						border-radius: var(--border-radius);
						overflow: hidden;

						@include max-width($breakpoint--desktop-sm) {
							border-radius: var(--border-radius--md);
						}

						&:hover {

							img {
								transform: scale(1.07);
							}
						}
					}
				}

				.product-name {
					--line-height: 1.15;
					grid-area: 1 / 2 / 1 / 4;
					align-self: start;
					font-weight: var(--font-weight--bold);

					@include color(base);
					@include font-size(normal);
					padding-right: var(--spacing--30);

					@include min-width($breakpoint--mobile) {
						--font-size--normal: 1.125em;
						padding-right: var(--spacing--40);
					}

					@include min-width($breakpoint--mobile-lg) {
						grid-column: 2 / 5;
					}

					a {
						text-decoration: none;
						color: currentcolor;

						&:hover {
							color: var(--wp--custom--color--contrast);
						}
					}

					small {
						display: block;
						font-weight: var(--font-weight--normal);
						font-size: var(--font-size--normal-sm);
						padding: 0.5em 0;

						@include color(body);
					}

					.backorder_notification {

						@include color(grey-2);
						@include font-size(x-small);
						font-weight: var(--font-weight--semibold);
						letter-spacing: 0.065em;
						--line-height: 1.15;
						margin: 0.2em 0 0;
						text-transform: uppercase;
					}
				}

				.product-price {
					grid-area: 2 / 1 / 2 / 4;

					@include font-size(medium);
					@include color(accent);
					--line-height: 1;

					@include min-width($breakpoint--mobile-sm) {
						grid-column: 2 / 4;
					}

					@include min-width($breakpoint--mobile-lg) {
						grid-column: 2 / 3;
						grid-row: 2 / 2;
					}

					.woocommerce {

						&-Price-amount {
							font-weight: var(--font-weight--bold);
						}

						&-price-suffix {

							@include font-size(small);
						}
					}
				}

				.product-quantity {
					grid-area: 3 / 1 / 3 / 3;

					@include min-width($breakpoint--mobile-sm) {
						grid-column: 2 / 3;
					}

					@include min-width($breakpoint--mobile-lg) {
						grid-area: 2 / 3 / 2 / 4;
						display: flex;
						justify-content: center;
					}
				}

				.product-subtotal {
					grid-area: 3 / 3 / 3 / 4;
					display: flex;
					justify-content: end;
					font-weight: var(--font-weight--bold);
					--line-height: 1;

					@include font-size(medium);
					@include color(accent);

					@include min-width($breakpoint--mobile-sm) {
						grid-column: 3 / 4;
					}

					@include min-width($breakpoint--mobile-lg) {
						grid-column: 4 / 5;
						grid-row: 2 / 2;
						padding-right: var(--spacing--10);
					}
				}

				+ .cart_item {

					@include border(grey-3, 1px 0 0);
				}
			}

			.quantity {
				width: 100px;

				@include min-width($breakpoint--mobile-lg) {
					width: 130px;
				}
			}

			.blockUI.blockOverlay {
				background-color: var(--wp--preset--color--grey) !important;
			}
		}

		.cart-collaterals {
			flex: 1 1 33%;
			float: none;
			width: auto;

			@include min-width($breakpoint--desktop-sm) {
				margin-top: var(--spacing--10);
			}

			.cart_totals {

				@include box;

				h2 {

					@include font-style(section-label);
					margin: 0;
				}

				.cart-discount {
					margin-top: var(--spacing--10);
				}

				.woocommerce {

					&-shipping-destination {

						@include font-size(small);
						--line-height: initial;
						margin-top: var(--spacing--20);
						margin-bottom: 0;
					}

					&-shipping-calculator {
						padding-bottom: var(--spacing--5);

						.shipping-calculator {

							&-button {

								@include font-size(small);
							}

							&-form {
								margin: 0;
								padding: 0;
							}

							&-form__wrapper {
								display: flex;
								gap: var(--spacing--15);
								align-items: end;
								margin: var(--spacing--10) 0;

								@include max-width($breakpoint--mobile-sm) {
									flex-direction: column;
									gap: var(--spacing--5);
								}

								@include select2-sm;

								p {
									margin: 0;

									@include max-width($breakpoint--mobile-sm) {
										width: 100%;
									}

									&.form-row {
										display: flex;
										flex-direction: column;
									}

									&.form-row-wide {
										flex-grow: 1;
									}
								}

								// Fix for select2.
								#calc_shipping_country_field {
									margin-bottom: 4px;
								}

								label {
									padding-bottom: var(--wp--preset--spacing--10);

									@include font-style(section-label);
								}

								.button {

									@include button;
									@include button-style-outline;

									align-self: end;
									flex-basis: auto;
									flex-shrink: 0;

									@include max-width($breakpoint--mobile-sm) {
										width: 100%;
									}
								}

								.address-field input {

									@include input-sm;
								}

								&:has(.address-field) {
									flex-direction: column;

									p {
										width: 100%;
									}
								}
							}
						}
					}

					&-form-coupon {

						@media (min-width: $breakpoint--desktop-sm) and (max-width: calc($breakpoint--desktop-md - 1px)) {
							display: flex;
							flex-direction: column;
						}
					}
				}

				.coupon {
					display: flex;
					flex-direction: column;
					margin-top: var(--spacing--30);
					margin-bottom: var(--spacing--30);

					th {

						@include font-style(section-label);
					}

					td {
						width: 100%;
						padding: 0;
					}
				}
			}

			.wc-proceed-to-checkout .checkout-button {
				width: 100%;

				@include button;
				@include button-size-lg;
			}

			&:has(.blockUI) {

				.cart_totals {

					@include add-spinner;
				}
			}
		}

		.infobox {
			background-color: var(--wp--preset--color--white);
		}
	}

	.coupon-error-notice {
		--notice--background-color: var(--wp--custom--color--error-bg);
		--notice--color: var(--wp--custom--color--error);
		--notice--icon: url(../icons/icon-error.svg);

		@include notice;
	}

	&:has(.product-section) {
		--join-group--background-color: var(--wp--preset--color--white);
	}
}
