.woocommerce-checkout {
	--body--background-color: var(--wp--preset--color--grey);
	--notice--background-color: white;

	main {
		@include container;
	}

	.woocommerce {
		padding-top: var(--spacing--20);
		display: flex;
		flex-direction: column;

		&-checkout {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: var(--spacing--30);
			padding-bottom: var(--spacing--50);

			@include min-width($breakpoint--desktop-sm) {
				flex-direction: row;
				flex-wrap: wrap;
			}

			@include max-width($breakpoint--desktop-sm) {
				padding-bottom: var(--spacing--30);
			}

			&:not(:has(.woocommerce-NoticeGroup)) {
				margin-top: var(--spacing--10);
			}

			&__form {
				flex: 1 0 60%;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: var(--spacing--20);
				align-items: start;

				@include min-width($breakpoint--desktop-sm) {
					gap: var(--spacing--30);
				}
			}

			#ship-to-different-address {
				font-size: inherit;
				font-family: inherit;
				padding: 0;
			}

			.shipping_address {
				.woocommerce-shipping-fields__field-wrapper {
					padding-top: var(--spacing--30);
					padding-bottom: var(--spacing--30);
				}
			}

			#order_review_heading {
				@include font-style(section-label);
			}

			.payment__heading {
				@include font-style(section-label);
				margin-bottom: var(--spacing--15);
				padding-bottom: 0.35em;
			}

			.place-order {
				display: flex;
				flex-direction: column;

				.button {
					width: 100%;
				}
			}
		}

		&-billing-fields {
			h3 {
				@include font-style(section-label);

				@include min-width($breakpoint--desktop-sm) {
					margin-top: var(--spacing--20);
				}
			}
		}

		&-NoticeGroup-checkout {
			width: 100%;
		}

		&-form-login,
		&-form-coupon {
			margin-left: auto;
			margin-right: auto;
			padding-bottom: var(--spacing--20);

			&,
			&-toggle {
				margin-bottom: var(--spacing--20);
			}
		}

		&-form-coupon {
			width: 100%;
			max-width: var(--size--form);
		}

		&-order {
			@include empty-screen;

			& {
				--empty-screen--width: 850px;
			}
		}

		&-bacs-bank-details {
			margin-top: var(--spacing--20);
			margin-bottom: var(--spacing--20);

			.wc-bacs-bank-details {
				@include list-reset;

				&-heading {
					@include font-style(section-label);
				}

				&-account-name {
					@include font(body);
					@include font-size(normal);
					font-weight: var(--font-weight--bold);
					margin-top: var(--spacing--20);

					&:first-of-type {
						margin-top: var(--spacing--10);
					}
				}
			}
		}
	}

	form {
		&.checkout,
		&.checkout_coupon {
			& > .blockUI.blockOverlay {
				background-color: var(--wp--preset--color--grey) !important;
			}
		}

		&.checkout:has(.blockUI) {
			#order_review_heading,
			.payment__heading {
				@include transition;
				opacity: 0.4;
			}
		}
	}

	.back-to-cart {
		@include button;
		@include button-size-lg;
		@include button-style-outline;

		& {
			margin-top: var(--spacing--20);
		}
	}

	&-review-order {
		padding-bottom: var(--spacing--10);
	}

	&.woocommerce-order-pay {
		.woocommerce {
			gap: var(--spacing--20);
			margin-bottom: var(--spacing--50);
			padding-top: var(--spacing--30);
		}

		button[type="submit"] {
			@include max-width($breakpoint--mobile-lg) {
				width: 100%;
			}
		}
	}

	// weird fix.
	.woocommerce-notices-wrapper + .woocommerce-message,
	.woocommerce-form-coupon-toggle + .woocommerce-message {
		margin-bottom: var(--spacing--20);
	}
}

#order_review {
	flex: 1 1 33%;
	width: 100%;
	overflow: hidden;
	@include box;

	thead {
		display: none;
	}

	tfoot {
		margin-top: var(--spacing--30);
	}

	.cart_item,
	.order_item {
		align-items: end;

		&:not(:last-of-type) {
			margin-bottom: var(--spacing--15);
		}

		.product {
			&-name {
				@include font-size(normal-sm);
				font-weight: var(--font-weight--semibold);
				--line-height: 1.15;
				display: flex;
				flex-direction: column;

				a {
					display: block;
				}

				small {
					@include font-size(small-sm);
					font-weight: var(--font-weight--normal);
					--line-height: 1.5;
					display: block;
				}
			}

			&-variation-quantity,
			&-quantity {
				font-weight: var(--font-weight--normal);
				line-height: 1.5;
			}

			&-total {
				font-weight: var(--font-weight--bold);
				line-height: 1.25;
			}
		}
	}

	.order_item {
		.product {
			&-variation-quantity,
			&-quantity {
				@include font-size(normal-sm);
			}
		}
	}

	.wc-item-meta {
		display: none;
	}
}

#payment {
	.payment_methods {
		@include list-reset;
		display: flex;
		flex-direction: column;
		gap: var(--spacing--15);
		margin-bottom: var(--spacing--30);
	}

	.wc_payment_method {
		display: grid;
		column-gap: var(--spacing--10);
		grid-template-columns: auto 1fr;

		label {
			margin: 0;
			display: flex;
			align-items: center;
			gap: 10px;
			justify-content: space-between;
		}

		.payment_box {
			grid-row: 2 / 2;
			grid-column: 1 / 3;
			@include bg(grey-4);
			border-radius: var(--border-radius--sm);
			padding: var(--spacing--10) var(--spacing--20);
			@include font-size(x-small);
			margin-top: var(--spacing--15);

			p:last-child {
				margin: 0;
			}
		}

		[name="payment_method"][checked] {
			display: flex !important;
		}
	}
}

.woocommerce-terms-and-conditions-wrapper {
	display: flex;
	flex-direction: column;
	@include font-size(normal-sm);
	margin-bottom: var(--spacing--30);

	.woocommerce-privacy-policy-text {
		display: grid;
		grid-template-columns: 25px auto;
		gap: var(--spacing--10);
		margin-bottom: var(--spacing--20);

		&::before {
			content: url(../icons/icon-info.svg);
			width: 25px;
		}
	}

	.woocommerce-terms-and-conditions {
		overflow-x: hidden;
		order: 3;
		margin-top: var(--spacing--20);
		@include content-sm;

		p:not(:last-of-type) {
			margin-bottom: 0.75em;
		}
	}
}
