/* Forms */
// @todo: Chocante - change to global class.
.button {
	// Button not inside notice.
	&:not(.wc-forward) {
		@include button;

		&.button--sm {
			@include button-sm;
		}
	}
}
// END TODO.

// Notice.
// @todo Chocante - Bricks, remove cart class.
.woocommerce-notices-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing--20);
	width: 100%;

	&:not(:empty) {
		margin: 0;
	}

	&:empty {
		display: none;
	}

	.woocommerce {
		&-info,
		&-success {
			@include notice;
		}

		&-message {
			@include notice($icon: "../icons/icon-info.svg");

			svg {
				@include color(red-1);
			}
		}

		&-error {
			@include notice(
				var(--color--red-3),
				var(--color--red-2),
				$icon: "../icons/icon-error.svg"
			);
		}
	}
}
// END TODO.

// Transition.
.transition {
	@include transition;
}

/* Forms */
// Label.
// @todo: Chocante - Bricks.
label {
	color: currentColor;
	font-weight: var(--font-weight--normal);
	@include transition(colors);

	&[for] {
		cursor: pointer;

		&:hover {
			opacity: 0.75;
		}

		&:active {
			opacity: 1;
			transition: none;
		}
	}
}
// END TODO.

// Select.
select {
	@include select-arrow;
	padding-right: 40px;
	@include color(grey-1);
	border: 0;
	font-weight: var(--font-weight--normal);
}

// Radio.
input[type="radio"] {
	@include radio;
}

// Checkox.
input[type="checkbox"] {
	@include checkbox;
}

// Container.
.container {
	@include container;
}

// Modal.
.backdrop {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include transition(colors);
	opacity: 0;
	@include bg(brown-4);
	z-index: var(--z-index--modal-backdrop);

	&.active {
		opacity: 0.95;
	}
}

button[data-close-modal] {
	@include icon-button;
}

// Post content.
.product__description,
.page-description {
	@include content;
}
