.content-header {
	--content-header--thumbnail-height: 330px;
	--content-header--padding-bottom: var(--spacing--10);

	@include min-width($breakpoint--mobile-lg) {
		--content-header--padding-bottom: var(--spacing--30);
	}

	@include min-width($breakpoint--desktop-sm) {
		--content-header--thumbnail-height: 400px;
	}

	&__container {
		padding-top: var(--spacing--15);
		padding-bottom: var(--content-header--padding-bottom);
		display: flex;
		flex-direction: column;
		gap: var(--spacing--10);
		position: relative;
		z-index: 1;
		@include container;

		@include min-width($breakpoint--mobile-lg) {
			padding-top: var(--spacing--20);
		}
	}

	&__title {
		color: var(--content-header--title-color, var(--color--brown-4));
		@include font-style(page-title);
	}

	&__breadcrumbs,
	.rank-math-breadcrumb,
	.woocommerce-breadcrumb {
		@include breadcrumbs;
		padding-top: var(--spacing--5);

		@include min-width($breakpoint--mobile-lg) {
			padding-top: var(--spacing--10);
			padding-bottom: var(--spacing--10);
		}
	}

	&__lead {
		max-width: var(--size--content);

		@include max-width($breakpoint--mobile-lg) {
			padding-bottom: var(--spacing--15);
		}
	}

	&__thumbnail {
		border-radius: var(--border-radius);
		overflow: hidden;
		height: var(--content-header--thumbnail-height);
		width: 100%;
		position: relative;
		margin-top: var(--spacing--10);

		img {
			object-fit: cover;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			height: inherit;
		}
	}
}
