.featured-products.post-slider-container {
	--post-slider--color-secondary: var(--wp--custom--color--base-7);
	--splide--pagination-page--background-color: rgba(255, 255, 255, 0.3);
	--bg-gradient--second-color: var(--wp--preset--color--accent);

	.badge__container {
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 2;
		align-items: end;
	}

	.product__diet-info {
		--icon-size: 56px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
		row-gap: var(--spacing--20);
		column-gap: var(--spacing--10);

		@include max-width($breakpoint--desktop) {
			height: calc(var(--icon-size));
			overflow: hidden;
			margin-bottom: var(--spacing--10);
		}

		@include min-width($breakpoint--desktop) {
			margin-top: var(--spacing--10);
		}

		img {
			filter: brightness(0) invert(1);
			margin: auto;
			height: var(--icon-size);
		}
	}

	@include max-width($breakpoint--desktop-sm) {

		.product__diet-info {
			order: 3;
		}

		.wp-block-buttons {
			order: 4;
		}
	}
}
