.site-footer {

	@include bg(base-2);
	@include color(base-6);

	.menu a {
		font-weight: var(--font-weight--semibold);
		text-transform: uppercase;
		padding: 0.35em 0;
		display: block;
		text-decoration: none;
		color: currentcolor;

		@include font-size(small);
	}

	&__nav {
		padding-top: var(--spacing--20);
		display: flex;
		flex-direction: column;

		@include container;

		@include min-width($breakpoint--desktop-sm) {
			padding-top: var(--spacing--40);
			padding-bottom: var(--spacing--40);
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: var(--spacing--30);
		}

		@include min-width($breakpoint--desktop-md) {
			grid-template-columns: 2fr 1fr 1fr;
		}

		&-menu {

			@include max-width($breakpoint--desktop-sm) {

				@include border(base-3, 0 0 1px);
			}
		}

		&-header {

			@include font(body);
			@include font-size(normal-sm);
			font-weight: var(--font-weight--semibold);
			color: var(--wp--preset--color--white);
			text-transform: uppercase;
			letter-spacing: 0.4em;
			margin-top: var(--spacing--15);
			margin-bottom: var(--spacing--15);
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: var(--spacing--5);

			@include max-width($breakpoint--desktop-sm) {
				cursor: pointer;
			}

			&::after {

				@include icon-font;
				content: "\0041";

				@include transition;
				transform-origin: center;
				width: 15px;
				height: 15px;
				display: block;

				@include hide(desktop);
			}
		}

		&--open {

			.site-footer__nav-header::after {
				transform: rotate(180deg);
			}
		}

		.menu {
			display: flex;
			flex-direction: column;
			gap: var(--spacing--10);

			a:hover {
				color: var(--wp--preset--color--white);
			}

			@include max-width($breakpoint--desktop-sm) {
				display: none;
				padding-bottom: var(--spacing--20);
			}
		}

		@include min-width($breakpoint--desktop-md) {

			&-menu--products {

				.menu {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include container;

		@include max-width($breakpoint--desktop-sm) {
			flex-direction: column;
		}

		@include min-width($breakpoint--desktop-sm) {
			gap: var(--spacing--10);
			padding-top: var(--spacing--20);
			padding-bottom: var(--spacing--20);

			@include border(base-3, 1px 0 0);
		}

		@include min-width($breakpoint--desktop-md) {
			gap: var(--spacing--30);
		}

		&-left,
		&-mobile,
		.menu {

			@include flex(center);
		}

		&-left,
		.menu {
			padding-top: var(--spacing--20);
			padding-bottom: var(--spacing--20);
			gap: var(--spacing--20);

			@include max-width($breakpoint--desktop-sm) {
				width: 100%;

				@include border(base-3, 0 0 1px);
			}
		}

		&-left {

			.wp-block-image {
				margin: 0;
				width: auto;

				img {
					border-radius: 0;
				}
			}
		}

		&-left,
		&-mobile {
			flex-wrap: wrap;
		}

		&-mobile {
			gap: var(--spacing--10);

			@include hide(desktop);

			@include max-width($breakpoint--desktop-sm) {
				padding-top: var(--spacing--15);
				padding-bottom: var(--spacing--15);
			}

			@include min-width($breakpoint--desktop-sm) {
				gap: var(--spacing--20);
			}
		}
	}

	#menu-social-media {

		a {
			padding: 0;

			&:not(:hover) {

				@include color(base-5);
			}

			svg {
				display: block;
			}
		}
	}

	&__copy {

		@include bg(base-4);
		@include color(base);
		padding-top: var(--spacing--20);
		padding-bottom: var(--spacing--20);

		@include min-width($breakpoint--desktop-sm) {
			padding-top: var(--spacing--30);
			padding-bottom: var(--spacing--30);
		}

		&-container {
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			@include font-size(small);
			@include container;

			@include max-width($breakpoint--desktop-sm) {
				flex-direction: column;
				align-items: center;
				text-align: center;

				.site-footer__copy-text {
					order: 2;
					margin-top: var(--spacing--20);
				}

				.menu {
					order: 1;
				}
			}

			.menu {

				@include flex(baseline);
				column-gap: var(--spacing--30);

				@include max-width($breakpoint--desktop-sm) {
					flex-direction: column;
					align-items: center;
				}

				a {

					&:hover {

						@include color(base-6);
					}
				}
			}
		}
	}

	.wcml-dropdown .wcml-cs-submenu,
	.wcml-dropdown-click .wcml-cs-submenu,
	.wpml-ls-legacy-dropdown .wpml-ls-sub-menu,
	.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
		transform: translateY(var(--spacing--5));
	}

	.wcml-dropdown .wcml-cs-submenu,
	.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
		bottom: 100%;
		top: auto;
	}
}
