@use "sass:map";

.site-footer {
	@extend .bg--primary-dark;
	@extend .color--primary-light;

	.menu a {
		font-weight: 600;
		text-transform: uppercase;
		padding: 0.35em 0;
		display: block;
		@extend .font-size--small;
		@extend .transition--color;
	}

	&__nav {
		padding-top: $spacing--20;
		display: flex;
		flex-direction: column;

		@include min-width($breakpoint--desktop-sm) {
			padding-top: $spacing--40;
			padding-bottom: $spacing--40;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: $spacing--30;
		}

		@include min-width($breakpoint--desktop-md) {
			grid-template-columns: 2fr 1fr 1fr;
		}

		&-menu {
			@include max-width($breakpoint--desktop-sm) {
				border-bottom: 1px solid map.get($colors, "primary-dark-border");
			}
		}

		&-header {
			@extend .font-size--normal-sm;
			font-weight: 600;
			color: white;
			text-transform: uppercase;
			letter-spacing: 0.4em;
			padding-top: $spacing--15;
			padding-bottom: $spacing--15;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: $spacing--5;

			@include max-width($breakpoint--desktop-sm) {
				cursor: pointer;
			}

			&::after {
				@include icon-font();
				content: "\0041";
				@extend .transition;
				@extend .hide--desktop;
				transform-origin: center;
				width: 15px;
				height: 15px;
				display: block;
			}
		}

		&--open {
			.site-footer__nav-header::after {
				transform: rotate(180deg);
			}
		}

		.menu {
			display: flex;
			flex-direction: column;
			gap: $spacing--10;

			a:hover {
				color: white;
			}

			@include max-width($breakpoint--desktop-sm) {
				display: none;
				padding-bottom: $spacing--20;
			}
		}

		@include min-width($breakpoint--desktop-md) {
			&-menu--products {
				.menu {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}

	&__bottom {
		justify-content: space-between;

		@include max-width($breakpoint--desktop-sm) {
			flex-direction: column;
		}

		@include min-width($breakpoint--desktop-sm) {
			gap: $spacing--10;
			padding-top: $spacing--20;
			padding-bottom: $spacing--20;
			border-top: 1px solid map.get($colors, "primary-dark-border");
		}

		@include min-width($breakpoint--desktop-md) {
			gap: $spacing--30;
		}

		&,
		&-left,
		&-mobile,
		.menu {
			@extend .flex--center;
		}

		&-left,
		.menu {
			padding-top: $spacing--20;
			padding-bottom: $spacing--20;

			@include max-width($breakpoint--desktop-sm) {
				width: 100%;
				border-bottom: 1px solid map.get($colors, "primary-dark-border");
			}
		}

		&-left,
		.menu {
			gap: $spacing--20;
		}

		&-left {
			.wp-block-image {
				margin: 0;
				width: auto;

				// @todo: Chocante - Bricks.
				img {
					border-radius: 0;
				}
				// END TODO.
			}
		}

		&-left,
		&-mobile {
			flex-wrap: wrap;
		}

		&-mobile {
			gap: $spacing--10;

			@include max-width($breakpoint--desktop-sm) {
				padding-top: $spacing--15;
				padding-bottom: $spacing--15;
			}

			@include min-width($breakpoint--desktop-sm) {
				gap: $spacing--20;
			}
		}
	}

	#menu-social-media {
		a {
			padding: 0;

			&:not(:hover) {
				@extend .color--primary-pattern;
			}

			svg {
				display: block;
			}
		}
	}

	&__copy {
		background-color: #14110e;
		@extend .color--primary-main;
		padding-top: $spacing--20;
		padding-bottom: $spacing--20;

		@include min-width($breakpoint--desktop-sm) {
			padding-top: $spacing--30;
			padding-bottom: $spacing--30;
		}

		.container {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			@extend .font-size--small;

			@include max-width($breakpoint--desktop-sm) {
				flex-direction: column;
				align-items: center;
				text-align: center;

				.site-footer__copy-text {
					order: 2;
					margin-top: $spacing--20;
				}

				.menu {
					order: 1;
				}
			}

			.menu {
				@extend .flex--baseline;
				column-gap: $spacing--30;

				@include max-width($breakpoint--desktop-sm) {
					flex-direction: column;
					align-items: center;
				}

				a {
					&:hover {
						@extend .color--primary-light;
					}
				}
			}
		}
	}

	.wcml-dropdown .wcml-cs-submenu,
	.wcml-dropdown-click .wcml-cs-submenu,
	.wpml-ls-legacy-dropdown .wpml-ls-sub-menu,
	.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
		transform: translateY($spacing--5);
	}

	.wcml-dropdown .wcml-cs-submenu,
	.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
		bottom: 100%;
		top: auto;
	}
}
