:root {
	--header--background-color: var(--color--brown-4);
	--header--text-color-secondary: var(--color--brown-6);
}

.site-header {
	background-color: var(--header--background-color, var(--color--brown-4));
	color: var(--header--text-color, white);
	position: sticky;
	top: 0;
	z-index: var(--z-index--overlay);
	@include transition;

	// WP admin bar fix.
	body.admin-bar & {
		top: 46px;

		@include min-width(782px) {
			top: 32px;
		}
	}

	&__container {
		@include container;

		& {
			@include max-width($breakpoint--desktop-sm) {
				padding: 0;
			}
		}
	}

	&__top {
		width: 100%;
		display: flex;
		align-items: baseline;
		justify-content: end;
		gap: var(--spacing--20);

		@include max-width($breakpoint--desktop-sm) {
			display: none;
		}

		div[class^="menu-"] {
			flex-grow: 1;
		}

		> *:last-child {
			.wpml-ls-sub-menu,
			.wcml-cs-submenu {
				right: 0;
				left: auto;
				min-width: 100%;
			}
		}

		.wpml-ls-legacy-dropdown,
		.wpml-ls-legacy-dropdown-click,
		.wcml-dropdown,
		.wcml-dropdown-click {
			a {
				@include font-size(normal-sm);

				&.wpml-ls-item-toggle,
				&.wcml-cs-item-toggle {
					@include font-size(x-small);
				}
			}
		}
	}

	&__menu {
		@include flex(baseline);
		gap: var(--spacing--10);
		width: 100%;
		padding: var(--spacing--20) var(--spacing--10) var(--spacing--10);

		@include min-width($breakpoint--desktop-sm) {
			padding-bottom: var(--spacing--15);
		}

		@include min-width($breakpoint--desktop-md + 40px) {
			padding-left: 0;
			padding-right: 0;
		}

		@include min-width($breakpoint--desktop) {
			gap: var(--spacing--30);
		}
	}

	&__nav {
		display: grid;
		grid-auto-flow: column;
		flex: 1;
		justify-content: center;
		gap: var(--spacing--10);
		@include hide(mobile);
		@include dropdown-list-item;

		@media (min-width: $breakpoint--desktop-sm) and (max-width: $breakpoint--desktop) {
			align-self: center;
		}

		> li {
			> a {
				text-transform: uppercase;
				font-weight: var(--font-weight--bold);
				font-size: var(--font-size--small);
				padding: var(--spacing--10);
				text-align: center;
				color: currentColor;

				span {
					line-height: 1.2;

					&::before {
						margin-top: 0.2em;
					}
				}
			}
		}

		li {
			&:hover {
				> ul {
					@include dropdown-active;
				}
			}

			&.menu-item-has-children {
				& > a > span {
					display: inline-flex;
					gap: var(--spacing--5);
					align-items: center;

					&::after {
						@include icon-font;
						content: "\0041";
						@include transition;
						font-size: 0.65em;
					}
				}

				&:hover > a > span::after {
					transform: rotate(180deg);
				}
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			left: 0;
			top: 100%;
			margin-left: -5px;
			padding-top: var(--spacing--5);
			padding-bottom: var(--spacing--10);
			width: max-content;
			max-width: 90vw;
			@include dropdown;

			ul {
				left: var(--spacing--40);
			}

			a {
				padding-top: var(--spacing--10);
				padding-bottom: var(--spacing--5);
				padding-right: var(--spacing--40);
				padding-left: var(--spacing--20);
				@include font-size(medium);
				font-weight: var(--font-weight--semibold);
				color: currentColor;
			}
		}
	}

	&__aside {
		@include flex(center);
		justify-content: end;
		position: relative;

		@include max-width($breakpoint--desktop-sm) {
			flex-grow: 1;
		}
	}

	&__toggle {
		@include icon-button;
		@include hide(desktop);
	}

	&__top {
		padding-top: var(--spacing--10);
		padding-bottom: var(--spacing--10);
		border-bottom: 1px solid var(--header--border-color, var(--color--brown-9));
		@include hide(mobile);

		@include max-width($breakpoint--desktop-md) {
			padding-right: var(--spacing--10);
			padding-left: var(--spacing--10);
		}

		.menu {
			display: flex;
			flex-direction: row;
			align-items: end;
			width: 100%;
			gap: var(--spacing--5);

			a {
				text-transform: uppercase;
				font-weight: var(--font-weight--bold);
				font-size: var(--font-size--x-small);
				padding: var(--spacing--5) var(--spacing--10);
				color: var(--header--text-color-secondary, var(--color--brown-6));
				text-decoration: none;

				&:hover {
					color: var(--text-color);
				}
			}
		}
	}

	.custom-logo-link {
		flex: 1 0 120px;
		max-width: 210px;
		max-height: 40px;
		display: flex;
		justify-content: start;

		@include min-width($breakpoint--desktop-sm) {
			margin-right: var(--spacing--10);
		}

		img {
			display: block;
		}
	}

	.mini-cart__button,
	.customer-account-link,
	.search-products__display {
		@include icon-button;

		@include min-width($breakpoint--desktop-sm) {
			height: 54px;
			max-width: 54px;
			min-width: 44px;
			width: fit-content;
		}
	}

	.customer-account-link {
		svg path {
			fill: white;
		}
	}
}
