:root {
	--header--background-color: var(--wp--preset--color--base);
	--header--text-color-secondary: var(--wp--custom--color--base-6);
}

.site-header {
	color: var(--header--text-color, var(--wp--preset--color--white));
	position: sticky;
	top: var(--wp-admin--admin-bar--height, 0);
	z-index: var(--z-index--overlay);

	&__affix {
		position: relative;
		z-index: 2;
		pointer-events: auto;
	}

	&__main {
		background-color: var(--header--background-color, var(--wp--preset--color--base));
	}

	&__container {

		@include container;

		@include max-width($breakpoint--desktop-sm) {
			padding: 0;
		}
	}

	&:has(.site-header__affix) .site-header__container {
		margin-top: -1px;
	}

	&__top {
		width: 100%;
		display: flex;
		align-items: baseline;
		justify-content: end;
		gap: var(--spacing--20);
		padding-top: var(--spacing--10);
		padding-bottom: var(--spacing--10);
		border-bottom: 1px solid var(--header--border-color, var(--wp--custom--color--base-9));


		@media (max-width: calc($breakpoint--desktop-sm - 1px)) or (max-height: calc($breakpoint--desktop--height - 1px)) {
			display: none !important;
		}

		.menu {
			display: flex;
			flex-direction: row;
			align-items: end;
			width: 100%;
			gap: var(--spacing--5);

			a {
				text-transform: uppercase;
				font-weight: var(--font-weight--bold);
				font-size: var(--font-size--x-small);
				padding: var(--spacing--5) var(--spacing--10);
				color: var(--header--text-color-secondary, var(--wp--custom--color--base-6));
				text-decoration: none;

				&:hover {
					color: var(--text-color);
				}
			}
		}

		div[class^="menu-"] {
			flex-grow: 1;
		}

		> *:last-child {

			.wpml-ls-sub-menu,
			.wcml-cs-submenu {
				right: 0;
				left: auto;
				min-width: 100%;
			}
		}

		.wpml-ls-legacy-dropdown,
		.wpml-ls-legacy-dropdown-click,
		.wcml-dropdown,
		.wcml-dropdown-click {

			a {

				@include font-size(normal-sm);

				&.wpml-ls-item-toggle,
				&.wcml-cs-item-toggle {

					@include font-size(x-small);
				}
			}
		}
	}

	&__menu {

		@include flex(baseline);
		gap: var(--spacing--10);
		width: 100%;
		padding: var(--spacing--20) var(--spacing--10) var(--spacing--10);

		@media ((min-width: $breakpoint--desktop-sm) and (min-height: $breakpoint--desktop--height)) {
			padding-bottom: var(--spacing--15);
		}

		@include min-width($breakpoint--desktop-sm) {
			padding-left: 0;
			padding-right: 0;
		}

		@media ((min-width: $breakpoint--desktop) and (min-height: $breakpoint--desktop--height)) {
			gap: var(--spacing--30);
		}
	}

	&__nav {
		display: grid;
		grid-auto-flow: column;
		flex: 1;
		justify-content: center;
		gap: var(--spacing--10);

		@include dropdown-list-item;

		@media (max-width: calc($breakpoint--desktop-sm - 1px)) or (max-height: calc($breakpoint--desktop--height - 1px)) {
			display: none !important;
		}

		@media (min-width: $breakpoint--desktop-sm) and (max-width: $breakpoint--desktop) {
			align-self: center;
		}

		> li {

			/* stylelint-disable-next-line no-descending-specificity */
			> a {
				text-transform: uppercase;
				font-weight: var(--font-weight--bold);
				font-size: var(--font-size--small);
				padding: var(--spacing--10);
				text-align: center;
				color: currentcolor;

				span {
					line-height: 1.2;

					&::before {
						margin-top: 0.2em;
					}
				}
			}
		}

		li {

			&:hover {

				> ul {

					@include dropdown-active;
				}
			}

			&.menu-item-has-children {

				> a > span {
					display: inline-flex;
					gap: var(--spacing--5);
					align-items: center;

					&::after {

						@include icon-font;
						content: "\0041";

						@include transition;
						font-size: 0.65em;
					}
				}

				&:hover > a > span::after {
					transform: rotate(180deg);
				}
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			left: 0;
			top: 100%;
			margin-left: -5px;
			padding-top: var(--spacing--5);
			padding-bottom: var(--spacing--10);
			width: max-content;
			max-width: 90vw;
			overflow-y: auto;

			@include dropdown;

			ul {
				left: var(--spacing--40);
			}

			/* stylelint-disable-next-line no-descending-specificity */
			a {
				padding-top: var(--spacing--10);
				padding-bottom: var(--spacing--5);
				padding-right: var(--spacing--40);
				padding-left: var(--spacing--20);

				@include font-size(medium);
				font-weight: var(--font-weight--semibold);
				color: currentcolor;
			}
		}
	}

	&__aside {

		@include flex(center);
		justify-content: end;
		position: relative;

		@media (max-width: calc($breakpoint--desktop-sm - 1px)) or (max-height: calc($breakpoint--desktop--height - 1px)) {
			flex-grow: 1;
		}
	}

	&__toggle {

		@include icon-button;

		@media (min-width: $breakpoint--desktop-sm) and (min-height: $breakpoint--desktop--height) {
			display: none !important;
		}
	}

	.custom-logo-link {
		flex: 1 0 120px;
		max-width: 210px;
		max-height: 40px;
		display: flex;
		justify-content: start;

		@include min-width($breakpoint--desktop-sm) {
			margin-right: var(--spacing--10);
		}

		img {
			display: block;
		}
	}

	.mini-cart__button,
	.customer-account-link,
	.search-products__display {

		@include icon-button;

		@media ((min-width: $breakpoint--desktop-sm) and (min-height: $breakpoint--desktop--height)) {
			max-width: 54px;
			min-width: 44px;
			width: fit-content;
		}

		@include min-width($breakpoint--desktop-sm) {
			height: 54px;
		}
	}

	.customer-account-link {

		svg path {
			fill: var(--wp--preset--color--white);
		}
	}

	[data-header-scroll] {

		@include transition;
	}

	&.is-scrolled {
		pointer-events: none;

		[data-header-scroll] {
			transform: translate3d(0, calc(-100% - var(--wp-admin--admin-bar--height, 0px)), 0);
		}
	}
}

/* Fix adminbar so that header sticks to screen top */
@media screen and (max-width: 600px) {

	#wpadminbar {
		position: fixed;
	}
}

/* Account for site-header when scrolling to element */
[id] {
	scroll-margin-top: var(--site-header--height, 0);
}
