.infobox {

	@include bg("grey");
	border-radius: var(--border-radius);
	display: flex;
	padding: var(--spacing--15) var(--spacing--20);
	gap: var(--spacing--20);

	@include max-width($breakpoint--mobile-lg) {
		flex-direction: column;
	}

	svg {

		@include color(contrast);
		flex-shrink: 0;
		width: auto;
	}

	&,
	h6 {

		@include font-size(small);
	}

	h6 {

		@include font-style(body);
		margin: 0;
	}

	> div {
		display: flex;
		gap: var(--spacing--10);
		flex: 1 1 33%;
	}
}
