.join-group {
	--background-color: var(--color--brown-4);
	--text-color: white;

	position: relative;
	overflow: hidden;

	&__wrapper {
		color: var(--text-color);
		background: var(--background-color) url(../images/pattern-main.png);
		padding-top: var(--spacing--50);
		margin-top: var(--spacing--100);

		@include min-width($breakpoint--mobile-lg) {
			margin-top: 180px;
		}
	}

	&__content {
		max-width: 600px;
		margin: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--spacing--100) var(--spacing--20);

		a {
			@include button($scheme: dark, $size: lg);
			margin-top: var(--spacing--30);
		}
	}

	&__heading {
		@include font-style(page-title);

		& {
			padding-bottom: 0.5em;
		}
	}

	&__subheading {
		@include font-style(section-label);
	}

	&__image {
		margin: auto;
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		max-width: 1170px;
		max-height: 295px;

		@include max-width($breakpoint--mobile-lg) {
			max-width: 768px;
			max-height: 194px;
		}
	}
}
