.join-group {
	background-color: var(--join-group--background-color);
	position: relative;
	overflow: hidden;

	&__wrapper {
		color: white;
		background: var(--color--brown-4);
		padding-top: var(--spacing--50);
		margin-top: var(--spacing--100);
		position: relative;

		@include min-width($breakpoint--mobile-lg) {
			margin-top: 180px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: url(../images/bg-pattern.png);
			opacity: 0.4;
			z-index: 0;
		}
	}

	&__content {
		max-width: 600px;
		margin: auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--spacing--100) var(--spacing--20);
		position: relative;
		z-index: 1;

		a {
			@include button($scheme: dark, $size: lg);
			margin-top: var(--spacing--30);
		}
	}

	&__heading {
		@include font-style(page-title);

		& {
			margin-bottom: 0.5em;
		}
	}

	&__subheading {
		@include font-style(section-label);
	}

	&__image {
		margin: auto;
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		max-width: 1170px;
		max-height: 295px;

		@include max-width($breakpoint--mobile-lg) {
			max-width: 768px;
			max-height: 194px;
		}
	}
}
