@mixin counter-badge($color: "", $bg: "") {
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	padding: 3px;
	@include flex(center);
	@include font-size(normal-sm);
	font-weight: var(--font-weight--bold);

	@if $color != "" {
		color: var(--color--#{$color});
	}

	@if $bg != "" {
		background-color: var(--color--#{$bg});
	}
}

.mini-cart {
	--mini-cart--image-size: 50px;

	&__button {
		position: relative;

		&:hover svg {
			opacity: 0.5;
		}
	}

	&__count {
		position: absolute;
		right: 0;
		top: var(--spacing--5);
		background-color: white;
		@include counter-badge(brown-4);

		@include min-width($breakpoint--desktop-sm) {
			top: var(--spacing--10);
		}
	}

	&__content {
		@include dropdown;

		top: 100%;
		right: 0;
		width: 100vw;
		overflow-y: scroll;
		max-width: 360px;
		padding-top: var(--spacing--20);
		padding-bottom: var(--spacing--20);
		display: flex;
		align-items: start;

		@include max-width(400px) {
			max-width: 95vw;
		}
	}

	&:hover &__content {
		@include dropdown-active;
	}

	&__content-title {
		display: flex;
		align-items: center;
		gap: var(--spacing--5);
		@include font-size(medium);
		font-weight: var(--font-weight--semibold);
		width: 100%;
		padding-left: var(--spacing--20);
		padding-right: var(--spacing--20);

		.count {
			@include counter-badge($bg: brown-4);
			color: white;
			font-size: 0.55em;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.widget_shopping_cart_content {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: 1fr auto;
		gap: var(--spacing--5);
		width: 100%;

		.woocommerce-mini-cart {
			grid-column-start: 1;
			grid-column-end: span 2;
			padding: 0;
			margin: 0;

			&__buttons {
				grid-column-start: 2;
				padding-right: var(--spacing--15);
			}

			&__total {
				padding-left: var(--spacing--20);
			}

			&__buttons,
			&__total {
				padding-top: var(--spacing--10);
			}
		}

		.mini-cart__content-title {
			grid-column-start: 1;
			grid-column-end: span 2;
		}
	}

	.woocommerce-mini-cart {
		display: grid;
		gap: var(--spacing--5);

		&-item {
			display: grid;
			grid-template-columns: auto min-content;
			grid-template-rows: auto auto;
			column-gap: var(--spacing--10);
			align-items: start;
			padding-top: var(--spacing--10);
			padding-bottom: var(--spacing--10);
			margin-left: var(--spacing--20);
			margin-right: var(--spacing--20);

			&:not(:last-child) {
				@include border(grey-3, 0 0 1px);
			}

			.remove_from_cart_button {
				grid-column-start: 2;
				grid-row-start: 1;
				@include remove-button;
			}

			> a:not(.remove_from_cart_button) {
				grid-column-start: 1;
				grid-row-start: 1;
				--line-height: 1.15;
				font-weight: var(--font-weight--semibold);
				position: relative;
				padding-left: calc(var(--mini-cart--image-size) + var(--spacing--10));
				@include font-size(normal-sm);

				&:hover {
					text-decoration: underline;
				}

				small {
					display: block;
					padding-top: 0.15em;
					@include font-size(small);
					font-weight: var(--font-weight--normal);
					@include color(grey-1);
				}
			}

			img {
				width: var(--mini-cart--image-size);
				height: var(--mini-cart--image-size);
				border-radius: var(--border-radius--xs);
				@include border(grey-3);
				position: absolute;
				left: 0;
				top: 0;
			}

			footer {
				grid-column-start: 1;
				grid-column-end: span 2;
				grid-row-start: 2;
				@include flex(baseline);
				justify-content: space-between;
				padding-left: 60px;

				.quantity {
					margin-top: 0.15em;
					@include flex(baseline);
					gap: var(--spacing--5);
					@include font-size(normal-sm);

					.woocommerce-price-suffix {
						@include font-size(x-small);
					}
				}
			}
		}

		&__total {
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;

			> strong {
				font-weight: var(--font-weight--normal);
			}

			.woocommerce-Price-amount {
				display: block;
				font-weight: var(--font-weight--bold);
				--line-height: 1;
				@include font-size(big);
			}
		}

		&__buttons {
			text-align: right;
			display: flex;
			align-items: end;
			margin: 0;

			.button {
				@include button;
				width: 100%;
			}
		}

		&__empty-message {
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);
			padding-top: var(--spacing--10);
			width: 100%;
			margin: 0;
		}
	}
}
