.page {
	// @todo: Background hack. Fix by moving to block theme page templates.
	&:not(.woocommerce-page) {

		&:has(:where(main, article) .product-section:last-child),
		&:has(.product-section + .join-group),
		&:has(.wp-site-blocks .has-grey-background-color:last-child) {
			--join-group--background-color: var(--wp--preset--color--grey);
		}
	}
	// END TODO.

	&-template-with-header,
	&-template-with-header--gift-sets,
	&-template-with-header--left {
		--body--background-color: var(--header--background-color);
		--content--background-color: var(--wp--preset--color--white);

		&:has(.product-section + .join-group) {
			--join-group--background-color: var(--wp--preset--color--grey);
		}

		--product-section--background-color: var(--wp--preset--color--grey);

		--content-header--title-color: var(--wp--preset--color--white);
		--content-header--background-bottom: 0;
		--content-header--text-color-secondary: var(--wp--custom--color--base-7);
	}

	&-template-with-header--gift-sets {

		.content-header {
			--content-header--thumbnail-height: 250px;

			@include min-width(700px) {
				--content-header--thumbnail-height: 500px;
			}

			&__thumbnail img {
				height: 100%;
				width: auto;
				position: static;
				transform: none;
				object-fit: contain;
			}
		}
	}

	&-template-with-header--left {

		.content-header {

			&__container {
				align-items: start;
				text-align: left;
			}

			&__lead {
				margin: unset;
			}
		}
	}
}

body.error404 {
	--body--background-color: var(--wp--preset--color--grey);

	.empty-screen {
		margin: var(--spacing--100) auto;

		svg {

			path {
				fill: var(--wp--preset--color--body);
			}
		}
	}
}
