// Splash slider with single post or product.
.post-slider {
	visibility: visible;

	&-container {

		@include bg-pattern;
		@include bg-gradient;

		@include min-width($breakpoint--desktop-sm) {
			--bg-gradient--second-color: var(--header--background-color);
		}
	}

	.splide {

		&__track {

			@include container;

			padding: 0;
		}

		&__list {

			@include list-reset;
			align-items: stretch;

			li {
				flex: 0 0 100%;
			}
		}
	}

	.splash {

		&__subtitle {
			color: var(--post-slider--color-secondary, var(--header--text-color-secondary));
		}
	}
}

// Common styles for sliders with products or posts.
.posts-slider {
	padding-left: var(--spacing--20);
	padding-right: var(--spacing--20);

	.splide {
		padding-left: var(--spacing--20);
		padding-right: var(--spacing--20);

		&.is-initialized {

			.product {
				opacity: 0.3;

				&.is-visible {
					opacity: 1;
				}
			}
		}

		&__track {
			padding-left: 0;
			padding-right: 0;
			padding-top: var(--spacing--10);
			overflow: visible;
			max-width: calc(var(--size--container) - var(--wp--style--root--padding-right, var(--spacing--20)) - var(--wp--style--root--padding-left, var(--spacing--20)));
			margin: auto;

			@include min-width($breakpoint--desktop) {
				padding-top: var(--spacing--20);

				@include max-width($breakpoint--desktop + $slider-navigation-size) {
					padding-bottom: var(--spacing--20);
				}
			}
		}

		&__arrow {

			@include nav-button;

			position: absolute;
			top: 100%;
			z-index: 10;
			margin-top: var(--spacing--15);

			@include min-width($breakpoint--desktop) {
				margin-top: 0;
			}

			@include min-width($breakpoint--desktop + $slider-navigation-size) {
				top: 50%;
			}

			&:disabled {
				display: none;
			}

			&--prev {
				left: 0;

				@include min-width($breakpoint--desktop + $slider-navigation-size) {
					transform: translate3d(-100%, -50%, 0);
					left: -15px;
				}
			}

			&--next {
				right: 0;

				@include min-width($breakpoint--desktop + $slider-navigation-size) {
					transform: translate3d(100%, -50%, 0);
					right: -15px;
				}
			}
		}

		&__pagination {
			position: relative;
			min-height: var(--spacing--50);

			@include max-width($breakpoint--desktop) {
				margin-top: var(--spacing--15);
			}
		}
	}
}

// Slider with posts.
.blog__slider {
	--post-thumbnail-size: 330px;
	max-width: none;
	overflow: hidden;

	.post {

		@include loop-item-link;
		height: var(--post-thumbnail-size);
		display: flex;
		align-items: end;
		position: relative;
		background: var(--wp--preset--color--white);

		&__thumbnail {
			position: absolute;
			left: 50%;
			transform: translate3d(-50%, -50%, 0) scale(0.94);
			top: 50%;
			max-width: none;
			width: 106%;
			height: 106%;
			z-index: 0;
			object-fit: cover;
			min-width: var(--post-thumbnail-size);
		}

		&:hover {

			.post__thumbnail {
				transform: translate3d(-50%, -50%, 0) scale(1);
			}
		}

		&__title {

			@include loop-item-title;
			padding: var(--spacing--30) var(--spacing--20);
			width: 100%;
			z-index: 1;
			margin: 0;
		}

		&:has(.post__thumbnail) {

			.post__title {
				color: var(--wp--preset--color--white);
				background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0));
			}
		}
	}

	.splide {

		&__slide {
			--wp--custom--transition--easing: ease-in;

			@include transition;

			@include max-width($breakpoint--desktop-md) {
				max-width: var(--loop-item-width);
			}

			@include min-width($breakpoint--desktop-md) {
				min-width: var(--loop-item-width);
			}
		}
	}
}
