.products {
	--loop-item-width: 270px;
	@include list-reset;

	.product {
		--wp--custom--transition--easing: ease-in;
		@include transition;

		@include max-width($breakpoint--desktop-md) {
			max-width: var(--loop-item-width);
		}

		@include min-width($breakpoint--desktop-md) {
			min-width: var(--loop-item-width);
		}

		.woocommerce {
			&-loop-product {
				&__title {
					@include loop-item-title;
					@include color(brown-4);
					margin: 0 0 0.2em;
				}

				&__link {
					@include loop-item-link;

					& {
						background-color: white;
						position: relative;
						display: block;

						&:hover {
							img {
								transform: translateY(-2%);
							}

							.woocommerce-loop-product__info-wrapper {
								transform: translateY(0);
							}
						}

						img {
							transform: translateY(0);
						}

						.onsale {
							position: absolute;
							left: var(--spacing--20);
							top: var(--spacing--15);
							z-index: 10;
						}
					}
				}

				&__info {
					position: absolute;
					left: 0;
					right: 0;
					top: 5px;
					z-index: -1;
					transform: translateY(-100%);
					padding: var(--spacing--10) var(--spacing--20) var(--spacing--15);
					background: white;

					&-wrapper {
						padding: var(--spacing--5) var(--spacing--20) var(--spacing--20);
						display: flex;
						flex-direction: column;
						gap: var(--spacing--10);
						align-items: start;
						position: relative;
						transform: translateY(100%);
						@include transition;
						background-color: white;
						margin-top: 2em;
					}
				}

				&__type {
					display: block;
					font-size: var(--font-size--normal-sm);
					line-height: 1.15;
					padding-top: 0.2em;
				}
			}
		}

		.button {
			@include button($size: lg);
		}

		&.outofstock .button {
			@include button(secondary, $size: lg);
		}
	}
}
