.search-products {
	&__form {
		@include flex(center);
		flex-direction: column;
		gap: var(--spacing--30);
		transform: translate3d(100%, 0, 0);
		color: white;
		@include side-nav(false);

		button[data-close-modal] {
			position: absolute;
			z-index: 2;
			right: var(--spacing--10);
			left: auto;
			top: var(--spacing--20);

			@include min-width($breakpoint--desktop-sm) {
				top: var(--spacing--15);
			}
		}

		.woocommerce-product-search {
			display: flex;
			justify-content: center;
			column-gap: var(--spacing--30);
			row-gap: var(--spacing--20);
			flex-wrap: wrap;
			width: 100%;
			max-width: 768px;
			position: relative;

			button[type="submit"] {
				@include button;
				@include button-size-lg;
				@include button-style-inverted;

				@include max-width($breakpoint--mobile) {
					width: 100%;
				}
			}

			.search-field {
				@include input;
				--input--background-color: transparent;
				--input--background-color--focus: transparent;
				--input--border: white;
				--input--border--focus: white;
				--input--color: white;
				--input--placeholder: white;

				padding-left: var(--spacing--50);
				flex: 1 1 300px;
			}
		}
	}

	&__title {
		@include font-style(subheading);
		@include color(base-8);
		text-align: center;
		margin: 0;
	}

	&__icon {
		position: absolute;
		left: var(--spacing--15);
		top: 25px;
		transform: translateY(-50%);
		display: flex;
	}
}
