$slider-navigation-size: 50px;

.product-section {
	background-color: var(--product-section--background-color, var(--wp--preset--color--white));
	padding-top: var(--spacing--30);
	overflow: hidden;
	min-height: 600px;
	max-width: none;

	@include min-width($breakpoint--desktop + $slider-navigation-size) {
		padding-top: var(--spacing--40);
	}

	&__header {
		display: flex;
		gap: var(--spacing--20);
		align-items: end;
		justify-content: space-between;
		padding-bottom: var(--spacing--20);
		padding-top: var(--spacing--15);

		@include container;

		a {
			flex-shrink: 0;

			@include button;
			@include button-size-lg;
			@include button-style-outline;
			@include hide(mobile);
		}
	}

	.product-section__heading {

		@include font-style(page-title);

		flex-grow: 1;
		max-width: var(--size--content);

		&:is(h3) {
			margin: 0;
		}

		span {

			@include font-style(section-label);
			@include color(grey-2);
			display: block;
			padding-bottom: 0.75em;
		}
	}

	&__description {

		@include container();
		margin-bottom: var(--spacing--15);

		> * {
			max-width: var(--size--content);
		}
	}

	&__empty {

		@include empty-screen;

		min-height: 300px;
		position: relative;
	}

	&__spinner {

		@include flex(center);
		min-height: 300px;
	}
}
