$slider-navigation-size: 50px;

.product-section {
	background-color: var(--product-section--background-color, white);
	padding-top: var(--spacing--30);
	padding-bottom: var(--spacing--40);
	overflow: hidden;
	min-height: 600px;
	max-width: none;

	@include min-width($breakpoint--desktop) {
		padding: var(--spacing--40) 0;
	}

	&__header {
		display: flex;
		gap: var(--spacing--20);
		align-items: end;
		justify-content: space-between;
		padding-bottom: var(--spacing--20);
		padding-top: var(--spacing--15);
		@include container;

		a {
			@include button;
			@include button-size-lg;
			@include button-style-outline;

			& {
				flex-shrink: 0;
				@include hide(mobile);
			}
		}
	}

	&__heading {
		@include font-style(page-title);

		& {
			flex-grow: 1;
			max-width: var(--size--content);

			&:is(h3) {
				margin: 0;
			}
		}

		span {
			@include font-style(section-label);
			@include color(grey-2);
			display: block;
			padding-bottom: 0.75em;
		}
	}

	&__description {
		@include container();

		& {
			margin-bottom: var(--spacing--10);
		}

		> * {
			max-width: var(--size--content);
		}
	}

	&__empty {
		@include empty-screen;

		& {
			min-height: 300px;
			position: relative;
		}
	}

	&__spinner {
		@include flex(center);
		min-height: 300px;
	}

	.splide {
		padding-left: var(--spacing--20);
		padding-right: var(--spacing--20);

		&.is-initialized {
			.product {
				opacity: 0.3;

				&.is-visible {
					opacity: 1;
				}
			}
		}

		&__track {
			padding-left: 0;
			padding-right: 0;
			padding-top: var(--spacing--10);
			overflow: visible;
			max-width: calc(
				var(--size--container) - var(
						--wp--style--root--padding-right,
						var(--spacing--20)
					) - var(--wp--style--root--padding-left, var(--spacing--20))
			);
			margin: auto;

			@include min-width($breakpoint--desktop) {
				padding-top: var(--spacing--20);
				padding-bottom: var(--spacing--20);
			}
		}

		&__arrow {
			@include nav-button;

			& {
				position: absolute;
				top: 100%;
				z-index: 10;
				margin-top: var(--spacing--15);
			}

			@include min-width($breakpoint--desktop + $slider-navigation-size) {
				top: 50%;
				margin-top: 0;
			}

			&:disabled {
				display: none;
			}

			&--prev {
				left: 0;

				@include min-width($breakpoint--desktop + $slider-navigation-size) {
					transform: translate3d(-100%, -50%, 0);
					left: -15px;
				}
			}

			&--next {
				right: 0;

				@include min-width($breakpoint--desktop + $slider-navigation-size) {
					transform: translate3d(100%, -50%, 0);
					right: -15px;
				}
			}
		}
	}
}
