.quantity {
	position: relative;

	input.qty {

		@include input;

		padding: var(--spacing--10) calc(var(--spacing--20) + 24px);
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		-moz-appearance: textfield;
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		@include min-width($breakpoint--mobile-lg) {
			padding-top: var(--spacing--15);
			padding-bottom: var(--spacing--15);
		}
	}

	&:hover {

		input.qty:not([readonly]) {
			box-shadow: var(--shadow--2);
		}
	}

	&:active {

		input.qty:not([readonly]) {
			background-color: var(--wp--preset--color--white);
		}
	}

	button {

		@include flex(center);
		background: transparent;

		@include transition;
		width: 24px;
		height: 24px;

		@include color(accent);
		opacity: 1;

		&:disabled {
			pointer-events: none;
			transition: none;
		}

		&:hover {

			@include color(contrast);

			&:active {
				transition: none;
			}
		}
	}

	&__plus,
	&__minus {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__plus {
		right: var(--spacing--10);
	}

	&__minus {
		left: var(--spacing--10);
	}

	&:has(input.qty[readonly]) {

		.quantity {

			&__plus,
			&__minus {
				pointer-events: none;
				transition: none;
			}
		}

	}
}
