.shop-loop {

	@include bg("grey");

	&__container {

		@include container;
		padding-top: var(--spacing--50);
		display: flex;
		gap: var(--spacing--30);
		align-items: start;

		@include min-width($breakpoint--desktop-sm) {
			padding-bottom: var(--spacing--100);
		}
	}

	&__section {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--30);
		flex: 1 1 100%;
	}

	&__header {
		gap: var(--spacing--20);
		background-color: var(--wp--preset--color--white);
		padding-top: var(--spacing--15);
		padding-bottom: var(--spacing--15);
		align-items: center;

		@include max-width($breakpoint--desktop-sm) {
			order: 3;
			position: sticky;
			bottom: 0;
			z-index: var(--z-index--dropdown);
			margin-left: calc(-1 * var(--spacing--20));
			margin-right: calc(-1 * var(--spacing--20));
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		@include min-width($breakpoint--desktop-sm) {
			border-radius: var(--border-radius);
			padding-left: var(--spacing--30);
			padding-right: var(--spacing--20);
			display: flex;
			justify-content: space-between;
		}

		&:empty {
			display: none;
		}
	}

	.products {
		display: grid;
		gap: var(--spacing--30);
		grid-template-columns: repeat(auto-fill, minmax(var(--loop-item-width), 1fr));

		@include max-width($breakpoint--desktop-md + 40) {
			grid-template-columns: repeat(auto-fill, var(--loop-item-width));
			justify-content: center;
		}
	}

	.chocante-product-filters {

		@include max-width($breakpoint--desktop-sm) {

			@include side-nav($set-initial-position: false);
			transform: translateY(100%);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			top: auto;
			left: var(--spacing--20);
			right: var(--spacing--20);
			max-height: 100%;
			padding-top: 0;
			padding-bottom: 0;

			header {
				position: sticky;
				top: 0;
				background: var(--wp--preset--color--white);
				display: flex;
				justify-content: space-between;
				align-items: center;
				z-index: 2;
				padding-top: var(--spacing--10);
			}

			footer {
				position: sticky;
				bottom: 0;
				background: var(--wp--preset--color--white);
				padding-bottom: var(--spacing--20);
				padding-top: var(--spacing--20);
			}
		}

		@include min-width($breakpoint--desktop-sm) {
			flex: 1 0 270px;
		}
	}

	#openMobileFilters {

		@include hide(desktop);
		@include button;
		@include button-style-outline;
	}
}

.woocommerce {

	&-products-header {
		padding-top: var(--spacing--10);
		padding-bottom: var(--spacing--20);

		.term-description {
			padding-top: var(--spacing--5);
			max-width: var(--size--content);

			@include content-short;

			@include min-width($breakpoint--mobile) {
				padding-bottom: var(--spacing--10);
			}

			@include max-width($breakpoint--mobile) {

				@include font-size(normal-sm);
			}
		}
	}

	&-notices-wrapper > * {
		margin-top: var(--spacing--10);
		margin-bottom: var(--spacing--10);
	}

	&-result-count {
		margin: 0;

		@include hide(mobile);
	}

	&-ordering {
		display: flex;
		align-items: baseline;
		gap: var(--spacing--5);

		@include color(base);

		@include max-width($breakpoint--desktop-sm) {

			select {

				@include button;
				@include button-style-outline;
				width: 100%;
				text-align: left;

				&:not(.disabled):not([disabled]) {

					@include select-arrow;

					&:hover {
						background-position: calc(100% - 13px) center;
						color: inherit;
					}
				}
			}
		}

		label {

			@include hide(mobile);
			font-weight: var(--font-weight--bold);
		}
	}

	&-no-products-found {

		&.empty-screen {
			padding-bottom: var(--spacing--50);
		}

		span + .button {
			margin-top: 0;
		}
	}
}

.woocommerce-page.archive {

	.page-description {

		@include container(content);
		@include content;
		padding-top: var(--spacing--100);
		padding-bottom: var(--spacing--100);
	}

	&:not(:has(.page-description)) {
		--join-group--background-color: var(--wp--preset--color--grey);
	}
}
