.single-product {
	--product-section--background-color: var(--color--grey-5);

	main {
		> .product {
			padding-top: var(--spacing--10);
			padding-bottom: var(--spacing--50);
			@include container;
		}
	}

	.product {
		@include min-width($breakpoint--desktop-sm) {
			&__summary {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto auto 1fr;
				column-gap: var(--spacing--30);
				margin-top: var(--spacing--10);
			}

			&__header,
			.summary {
				grid-column: 2;
			}

			.woocommerce-product-gallery {
				grid-row: 1 / span 2;
				grid-column: 1;
			}

			.summary {
				grid-row: 2 / 5;
			}

			&__diet-info {
				grid-column: 1;
				grid-row: 3;
			}
		}

		&__header {
			position: relative;
			z-index: 10;

			@include max-width($breakpoint--mobile) {
				.onsale {
					position: absolute;
					top: 100%;
					margin-top: var(--spacing--15);
					margin-left: var(--spacing--15);
				}
			}
		}

		&_title {
			@include font-style(page-title);

			& {
				@include color(brown-4);

				@include max-width($breakpoint--mobile) {
					padding-top: 0;
					padding-bottom: 0.75em;
				}
			}
		}

		&__diet-info {
			padding-top: var(--spacing--10);
			padding-bottom: var(--spacing--10);
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
			column-gap: var(--spacing--10);
			row-gap: var(--spacing--20);

			img {
				margin: 0 auto;
			}
		}

		&__description {
			padding-top: var(--spacing--50);
			padding-bottom: var(--spacing--50);
			@include container(content);
			@include content;

			@include min-width($breakpoint--desktop-sm) {
				padding-top: 80px;
				padding-bottom: 80px;
			}
		}

		&__details {
			padding-top: var(--spacing--30);

			header {
				display: grid;
				grid-template-columns: 1fr 1fr;

				span {
					@include font-style(section-label);
					@include color(grey-2);
					padding-left: var(--spacing--10);

					@include min-width($breakpoint--mobile) {
						padding-left: var(--spacing--20);
					}
				}
			}

			h4 {
				@include font-style(section-label);
				@include color(grey-2);
			}

			table {
				border-collapse: separate;
				border-spacing: 0 var(--spacing--10);

				th,
				td {
					@include font-size(small);
					@include bg(grey-5);
					padding: var(--spacing--10);
					width: 50%;
					vertical-align: top;

					@include min-width($breakpoint--mobile) {
						padding-left: var(--spacing--20);
						padding-right: var(--spacing--20);
					}
				}

				th {
					text-align: left;
					font-weight: var(--font-weight--normal);
				}

				td {
					font-weight: var(--font-weight--semibold);
				}
			}
		}

		&_meta {
			display: flex;
			flex-direction: column;
			@include font-size(small-sm);
			@include color(grey-2);
			text-transform: uppercase;

			span {
				span,
				a {
					font-weight: var(--font-weight--semibold);
					@include color(grey-1);
				}

				a {
					@include link;
				}
			}
		}

		&-type-simple .product__summary .price {
			padding-top: var(--spacing--20);
		}
	}

	.woocommerce {
		&-notices-wrapper > * {
			margin-top: var(--spacing--10);
			margin-bottom: var(--spacing--10);
		}

		&-product-gallery {
			overflow: hidden;
			margin-bottom: var(--spacing--15);

			&__trigger {
				display: none;
			}

			&__image {
				max-width: 100%;
			}

			> .woocommerce-product-gallery__wrapper,
			.flex-viewport {
				border-radius: var(--border-radius);
				overflow: hidden;
				@include border(grey-4);
				max-width: 600px;
				margin: auto;
			}

			.flex-control-thumbs {
				@include list-reset;
				margin-top: var(--spacing--15);
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(75px, auto));
				gap: var(--spacing--15);

				@include min-width($breakpoint--desktop-sm) {
					grid-template-columns: repeat(auto-fill, minmax(130px, auto));
				}

				li {
					border-radius: 15px;
					overflow: hidden;
					@include border(grey-4);
					cursor: pointer;
					@include transition(colors);

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}

		&-product-details__short-description {
			padding-top: var(--spacing--15);
			padding-bottom: var(--spacing--20);

			@include content-short;
		}

		&-variation-add-to-cart {
			grid-column: 1 / span 3;
		}

		&-variation-description {
			@include font-size(small);
		}
	}

	form.cart,
	.woocommerce-variation-add-to-cart {
		column-gap: var(--spacing--30);
		row-gap: var(--spacing--20);
		display: flex;
		flex-direction: column;

		@include min-width($breakpoint--mobile) {
			display: grid;
			grid-template-columns: 170px 1fr;
			align-items: center;
		}
	}

	form.cart {
		padding-top: var(--spacing--20);
		padding-bottom: var(--spacing--10);

		.out-of-stock {
			grid-column: 1 / span 3;
			font-weight: var(--font-weight--bold);
		}
	}

	.variations {
		th {
			display: none;
		}

		select {
			@include input;
		}
	}

	.single_add_to_cart_button.button {
		width: 100%;
		@include button($size: lg);
	}

	.infobox {
		margin-top: var(--spacing--30);
		margin-bottom: var(--spacing--30);

		@include min-width($breakpoint--mobile-lg) {
			&__stock {
				flex-basis: 150px;
			}
		}
	}

	.product-section {
		margin-top: var(--spacing--50);
		padding-top: var(--spacing--30);
		padding-bottom: var(--spacing--50);

		@include min-width($breakpoint--desktop-sm) {
			padding-top: 80px;
			padding-bottom: var(--spacing--100);
		}
	}

	// Fix for setting font-weight in editor.
	.entry-summary,
	.product__description {
		*[style*="font-weight"] {
			font-weight: 500 !important;
		}
	}

	&:not(:has(.product__description)) {
		--join-group--background-color: var(--color--grey-5);
	}
}
