.single-post {
	--header--background-color: var(--wp--custom--color--base-6);
	--header--text-color-secondary: var(--wp--custom--color--grey-3);
	--header--border-color: var(--wp--custom--color--grey-3);
	--body--background-color: var(--header--background-color);
	--content--background-color: var(--wp--preset--color--white);

	&:has(.product-section + .join-group) {
		--join-group--background-color: var(--wp--preset--color--grey);
	}

	--product-section--background-color: var(--wp--preset--color--grey);
	--content-header--title-color: var(--wp--preset--color--white);
	--content-header--background-bottom: 0;
	--content-header--background: var(--wp--preset--color--grey);

	--wp--style--root--padding-top: var(--spacing--20);
	--wp--style--root--padding-bottom: var(--spacing--30);

	@include min-width($breakpoint--mobile-lg) {
		--wp--style--root--padding-top: var(--spacing--50);
		--wp--style--root--padding-bottom: var(--spacing--100);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: var(--spacing--10);
		padding-bottom: var(--spacing--30);

		@include max-width($breakpoint--mobile-lg) {
			padding-bottom: var(--spacing--15);
		}
	}

	.rmp-widgets-container.rmp-wp-plugin.rmp-main-container {
		padding-top: var(--spacing--30);
		margin-top: var(--spacing--30);
		margin-bottom: 0;

		@include border(grey-3, 1px 0 0);
	}
}
