.single-post {
	--header--background-color: var(--color--brown-6);
	--header--text-color-secondary: var(--color--grey-3);
	--header--border-color: var(--color--grey-2);
	--body--background-color: var(--header--background-color);
	--content--background-color: white;

	&:has(.product-section + .join-group) {
		--join-group--background-color: var(--color--grey-5);
	}

	--product-section--background-color: var(--color--grey-5);
	--content-header--title-color: white;
	--content-header--background-bottom: 0;
	--content-header--background: var(--color--grey-5);

	--wp--style--root--padding-top: var(--spacing--20);
	--wp--style--root--padding-bottom: var(--spacing--30);

	@include min-width($breakpoint--mobile-lg) {
		--wp--style--root--padding-top: var(--spacing--50);
		--wp--style--root--padding-bottom: var(--spacing--100);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: var(--spacing--10);
		padding-bottom: var(--spacing--30);

		@include max-width($breakpoint--mobile-lg) {
			padding-bottom: var(--spacing--15);
		}
	}

	.rmp-widgets-container.rmp-wp-plugin.rmp-main-container {
		padding-top: var(--spacing--30);
		margin-top: var(--spacing--30);
		margin-bottom: 0;
		@include border(grey-3, 1px 0 0);
	}
}
