@mixin bg-pattern {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url(../images/bg-pattern.png);
		background-position: bottom, center;
		z-index: 0;
	}
}

@mixin bg-gradient {
	background:
		linear-gradient(to top, var(--bg-gradient--second-color, var(--wp--preset--color--white)), var(--bg-gradient--second-color, var(--wp--preset--color--white))
		var(--bg-gradient--bottom, var(--bg-gradient--y, 50%)), var(--bg-gradient--first-color, var(--header--background-color, var(--wp--preset--color--base)))
		var(--bg-gradient--bottom, var(--bg-gradient--y, 50%)));
}
