$border-radius: 30px;
$border-radius--md: 25px;
$border-radius--sm: 20px;
$border-radius--s: 10px;
$border-radius--xs: 5px;

:root {
	--border-radius: #{$border-radius};
	--border-radius--md: #{$border-radius--md};
	--border-radius--sm: #{$border-radius--sm};
}

.border-radius {
	border-radius: var(--border-radius);

	&--xs {
		@extend .border-radius;
		--border-radius: #{$border-radius--xs};
	}

	&--s {
		@extend .border-radius;
		--border-radius: #{$border-radius--s};
	}

	&--sm {
		@extend .border-radius;
		--border-radius: #{$border-radius--sm};
	}

	&--md {
		@extend .border-radius;
		--border-radius: #{$border-radius--md};
	}
}
