@mixin breadcrumbs {
	@include font-size(x-small);
	@include color(grey-2);

	a {
		font-weight: var(--font-weight--semibold);
		text-decoration: none;
		color: currentColor;

		&:hover {
			@include color(contrast);
		}
	}
}
