@use "sass:map";

// Icon button.
$icon-button-size: 40px;

.icon-button {
	@extend .flex--center;
	min-width: $icon-button-size;
	height: $icon-button-size;
	color: currentColor;
	background-color: transparent;

	svg {
		opacity: 1;
		@extend .transition--color;
	}

	&:hover svg {
		opacity: 0.5;
	}

	&:active svg,
	&.active svg {
		opacity: 1;
		transition: none;
	}
}

// Button.
$button-transition-property: color, background-position, box-shadow;

@mixin button-color(
	$bg,
	$bg-hover: transparent,
	$color: currentColor,
	$hover-color: currentColor,
	$border: false
) {
	background-image: linear-gradient(to right, $bg-hover 50%, $bg 50%);
	color: $color;
	background-size: calc(200% + 12px) calc(100% + 6px);
	@extend .transition;
	background-position: calc(100% + 3px);
	box-shadow: none;

	@if $border {
		border-color: $bg-hover;
		transition-property: $button-transition-property, border-color;
	} @else {
		transition-property: $button-transition-property;
	}

	&:hover {
		background-position: -3px;
		color: $hover-color;
		box-shadow: map.get($shadows, "natural");
	}

	&:active {
		opacity: 0.9;
	}
}

@mixin button() {
	@extend .font-size--normal-sm;
	line-height: 1.15;
	font-weight: bold;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	@extend .border-radius--md;
	padding: 0.85em 2em 0.95em;
	background-color: transparent;
	border-width: 3px;
	border-style: solid;
	border-color: transparent;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&--sm {
		padding: 0.65em 1.35em;
		border-width: 2px;
	}
}

// @todo: Chocante - change to global class.
.site-header,
.mobile-menu,
.search-products__form,
.woocommerce-cart,
.single-product,
.join-group,
.site-footer {
	.button {
		&,
		.woocommerce & {
			@include button();
			@extend .button--primary;
		}

		&--primary {
			&:not([disabled]) {
				@include button-color(
					map.get($colors, "accent-main"),
					map.get($colors, "accent-pattern"),
					white,
					white
				);
			}

			&.scheme--primary {
				&:not([disabled]) {
					@include button-color(
						white,
						#e2dad3,
						map.get($colors, "primary-main"),
						map.get($colors, "primary-main")
					);
				}
			}

			&.scheme--accent {
				&:not([disabled]) {
					@include button-color(
						white,
						#e2dad3,
						map.get($colors, "accent-main"),
						map.get($colors, "accent-main")
					);
				}
			}

			&.scheme--light {
				&:not([disabled]) {
					@include button-color(
						map.get($colors, "accent-main"),
						map.get($colors, "accent-pattern"),
						white,
						white
					);
				}
			}
		}

		&--secondary {
			&:not([disabled]) {
				@include button-color(
					white,
					#e2dad3,
					map.get($colors, "primary-main"),
					map.get($colors, "primary-main")
				);
			}

			&.scheme--primary {
				&:not([disabled]) {
					@include button-color(
						transparent,
						white,
						white,
						map.get($colors, "primary-main"),
						true
					);
				}
			}

			&.scheme--accent {
				&:not([disabled]) {
					@include button-color(
						transparent,
						white,
						white,
						map.get($colors, "accent-main"),
						true
					);
				}
			}

			&.scheme--light {
				&:not([disabled]) {
					@include button-color(
						transparent,
						map.get($colors, "accent-main"),
						map.get($colors, "accent-main"),
						white,
						true
					);
				}
			}
		}
	}

	.link {
		display: inline;
		font-weight: bold;
		text-decoration: underline;
		@extend .transition--color;

		&:hover {
			@extend .color--primary-contrast;
		}
	}
}
