// Button.
@mixin button {
	@include button-size-sm;
	@include button-style-default;

	border-color: var(--button--border-color);
	border-width: var(--button--border-width);
	padding: var(--button--padding-y) var(--button--padding-x);
	border-style: solid;
	@include font-size(normal-sm);
	--line-height: 1.15;
	font-weight: var(--font-weight--bold);
	border-radius: var(--border-radius);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background-image: linear-gradient(
		to right,
		var(--button--background-color--hover) 50%,
		var(--button--background-color) 50%
	);
	background-size: calc(200% + 12px) calc(100% + 6px);
	background-position: calc(100% + 3px);
	background-color: unset;
	color: var(--button--color);
	box-shadow: var(--button--shadow);

	&:where(:not([disabled], .disabled)) {
		--wp--custom--transition--property: color, background-position, box-shadow;
		@include transition;

		&:hover {
			color: var(--button--color--hover);
			box-shadow: var(--button--shadow--hover, var(--shadow--1));
			border-color: var(--button--border-color--hover);
			background-position: -3px;
			--wp--custom--transition--property: color, background-position, box-shadow,
				opacity, border-color;
		}

		&:active {
			opacity: 0.9;
		}
	}

	&:where([disabled], .disabled) {
		background-image: none;
		background-color: var(--button--background-color--disabled);
		color: var(--button--color--disabled);
		border-color: var(--button--border-color--disabled);

		cursor: not-allowed;
	}
}

@mixin button-size-sm {
	--button--padding-y: 0.65em;
	--button--padding-x: 1.35em;
}

@mixin button-size-lg {
	--button--padding-y: 0.95em;
	--button--padding-x: 2em;
}

@mixin button-style-default {
	--button--background-color: var(--wp--preset--color--accent);
	--button--background-color--hover: var(--wp--custom--color--accent-2);
	--button--color: white;
	--button--color--hover: white;
	--button--border-color: var(--wp--preset--color--accent);
	--button--border-color--hover: var(--wp--custom--color--accent-2);
	--button--background-color--disabled: var(--wp--custom--color--grey-3);
	--button--color--disabled: white;
	--button--border-color--disabled: var(--wp--custom--color--grey-3);
}

@mixin button-style-inverted {
	--button--background-color: white;
	--button--background-color--hover: var(--wp--custom--color--base-7);
	--button--color: var(--wp--preset--color--base);
	--button--color--hover: var(--wp--preset--color--base);
	--button--border-color: white;
	--button--border-color--hover: var(--wp--custom--color--base-7);
	--button--background-color--disabled: white;
	--button--color--disabled: var(--wp--custom--color--grey-3);
	--button--border-color--disabled: white;
}

@mixin button-style-outline {
	--button--background-color: transparent;
	--button--background-color--hover: var(--wp--custom--color--accent-2);
	--button--color: var(--wp--preset--color--accent);
	--button--color--hover: white;
	--button--border-color: var(--wp--preset--color--accent);
	--button--border-color--hover: var(--wp--custom--color--accent-2);
	--button--background-color--disabled: transparent;
	--button--color--disabled: var(--wp--custom--color--grey-3);
	--button--border-color--disabled: var(--wp--custom--color--grey-3);
}

@mixin button-style-outline-inverted {
	--button--background-color: transparent;
	--button--background-color--hover: white;
	--button--color: white;
	--button--color--hover: var(--wp--preset--color--accent);
	--button--border-color: white;
	--button--border-color--hover: white;
	--button--background-color--disabled: transparent;
	--button--color--disabled: var(--wp--custom--color--grey-3);
	--button--border-color--disabled: var(--wp--custom--color--grey-3);
}

// Icon button.
@mixin icon-button {
	--icon-button-size: 40px;

	@include flex(center);
	min-width: var(--icon-button-size);
	height: var(--icon-button-size);
	color: currentColor;
	background-color: transparent;

	svg {
		opacity: 1;
		@include transition;
	}

	&:hover svg {
		opacity: 0.5;
	}

	&:where(:active, .active) svg {
		opacity: 1;
		transition: none;
	}
}

// Navigation button.
@mixin nav-button {
	--nav-button--size: 50px;

	width: var(--nav-button--size);
	height: var(--nav-button--size);
	border-radius: 50%;
	color: white;
	@include flex(center);
	@include font-size(small-sm);
	font-weight: var(--font-weight--semibold);
	text-decoration: none;

	&:where(a, button):not(:disabled) {
		@include bg(accent);

		svg {
			@include transition;
		}

		&:hover {
			box-shadow: var(--shadow--1);

			&:not(:active) {
				@include bg(accent-2);

				svg {
					transform: scale(1.25);
				}
			}
		}

		&:active {
			transition: none;
			@include bg(accent);
		}
	}

	&:where(span, :disabled) {
		@include bg(base-6);
		cursor: default;
	}
}
