@use "sass:map";

$colors: (
	"base": var(--wp--preset--color--base),
	"base-2": var(--wp--custom--color--base-2),
	"base-3": var(--wp--custom--color--base-3),
	"base-4": var(--wp--custom--color--base-4),
	"base-5": var(--wp--custom--color--base-5),
	"base-6": var(--wp--custom--color--base-6),
	"base-7": var(--wp--custom--color--base-7),
	"base-8": var(--wp--custom--color--base-8),
	"base-9": var(--wp--custom--color--base-9),
	"accent": var(--wp--preset--color--accent),
	"accent-2": var(--wp--custom--color--accent-2),
	"contrast": var(--wp--custom--color--contrast),
	"error": var(--wp--custom--color--error),
	"error-bg": var(--wp--custom--color--error-bg),
	"text": var(--wp--preset-color--text),
	"grey": var(--wp--preset--color--grey),
	"grey-2": var(--wp--preset--color--grey-2),
	"grey-3": var(--wp--custom--color--grey-3),
	"grey-4": var(--wp--custom--color--grey-4),
);

@mixin color($color) {
	color: map.get($colors, $color);
}

@mixin bg($color) {
	background-color: map.get($colors, $color);
}

@mixin border($color, $width: 1px, $style: solid) {
	border-width: $width;
	border-style: $style;
	border-color: map.get($colors, $color);
}
