@use "sass:map";

$colors: (
	"brown-1": #14110e,
	"brown-2": var(--wp--preset--color--bronze-dark, #231e19),
	"brown-3": #37312b,
	"brown-4": var(--wp--preset--color--bronze-main, #3f362e),
	"brown-5": var(--wp--preset--color--bronze-pattern, #493f36),
	"brown-6": var(--wp--preset--color--bronze-light, #958b83),
	"brown-7": #e2dad3,
	"brown-8": var(--wp--preset--color--bronze-light-text, #e6dad3),
	"brown-9": #675e56,
	"green-1": var(--wp--preset--color--green-main, #333f2e),
	"green-2": var(--wp--preset--color--green-pattern, #42513d),
	"red-1": var(--wp--preset--color--red-main, #9d2f51),
	"red-2": var(--wp--preset--color--error, #d12121),
	"red-3": var(--wp--preset--color--error-bg, #ffdfdf),
	"grey-1": var(--wp--preset--color--grey, #454545),
	"grey-2": var(--wp--preset--color--grey-light, #aba7a4),
	"grey-3": var(--wp--preset--color--grey-inactive, #d6d6d6),
	"grey-4": #f2f2f2,
	"grey-5": var(--wp--preset--color--bronze-light-bg, #f8f6f4),
);

:root {
	@each $color, $value in $colors {
		--color--#{$color}: #{$value};
	}
}

@mixin color($color) {
	color: map.get($colors, $color);
}

@mixin bg($color) {
	background-color: map.get($colors, $color);
}

@mixin border($color, $width: 1px, $style: solid) {
	border-width: $width;
	border-style: $style;
	border-color: map.get($colors, $color);
}
