@mixin content {

	@include content-shared;
}

@mixin content-short {

	@include content-shared;

	h3,
	h4 {
		font-family: var(--font-family--body);
		font-weight: var(--font-weight--bold);
	}

	h3 {

		@include font-size(big);
	}

	h4 {

		@include font-size(medium);
	}
}

@mixin content-shared {

	@include max-width($breakpoint--mobile) {

		@include font-size(normal-sm);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1em;
		margin-bottom: 0.5em;

		@include color(base);
	}

	ul,
	ol {
		padding: 0.5em 0 1em 1.5em;
		margin: 0;

		li {
			padding-left: 1em;
			padding-bottom: 0.5em;
		}
	}

	ul {
		list-style-type: "\2014";
	}
}

@mixin content-sm {

	@include content-shared;

	font-size: 0.8em;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: var(--font-weight--bold);
		font-size: 1.2em;
		margin-top: 0.5em;
		margin-bottom: 1.2em;
	}
}
