@mixin empty-screen {
	--empty-scree-badge-size: 120px;
	--empty-screen-icon-size: 60px;

	@include flex(center);
	flex-wrap: nowrap;
	flex-direction: column;
	text-align: center;
	margin: var(--spacing--20) auto var(--spacing--30);
	max-width: var(--empty-screen--width, 600px);
	padding: var(--spacing--10) var(--spacing--20);
	gap: var(--spacing--10);

	figure {
		width: var(--empty-scree-badge-size);
		height: var(--empty-scree-badge-size);
		border-radius: 50%;
		background-color: white;
		@include flex(center);
		margin: var(--spacing--10) auto;

		svg {
			width: var(--empty-screen-icon-size);
			height: var(--empty-screen-icon-size);
		}
	}

	p {
		@include min-width($breakpoint--mobile-lg) {
			font-size: var(--font-size--medium);
		}
	}

	.button {
		@include button;

		& {
			@include button-size-lg;
		}
	}
}
