$line-height: 1.5;
$font-family--body: var(--wp--preset--font-family--montserrat);
$font-weight--body: 500;
$font-family--headings: var(--wp--preset--font-family--playfair-display);
$font-weight--headings: 500;
$font-family--labels: var(--wp--preset--font-family--montserrat);
$font-weight--labels: 600;

/* Font Family */
.font--body {
	font-family: $font-family--body;
	font-weight: $font-weight--body;
}

.font--headings {
	font-family: $font-family--headings;
	font-weight: $font-weight--headings;
}

.font--labels {
	font-family: $font-family--labels;
	font-weight: $font-weight--labels;
}

/* Font Size */
.font-size--huge {
	font-size: var(--wp--preset--font-size--huge);
	line-height: 1.2;

	@include min-width($breakpoint--mobile-lg) {
		line-height: 1.4;
	}
}

.font-size--x-large {
	font-size: var(--wp--preset--font-size--x-large);
	line-height: 1.15;

	@include min-width($breakpoint--mobile-lg) {
		line-height: 1.1;
	}
}

.font-size--large {
	font-size: var(--wp--preset--font-size--large);
	line-height: 1.15;
}

.font-size--medium {
	font-size: var(--wp--preset--font-size--medium);
}

.font-size--normal {
	font-size: var(--wp--preset--font-size--normal);
}

.font-size--small {
	font-size: var(--wp--preset--font-size--small);
}

.font-size--x-small {
	font-size: var(--wp--preset--font-size--x-small);
}
