// Line height.
$line-height: 1.5;

// Font family.
$font-family--body-default:
	Montserrat,
	-apple-system,
	BlinkMacSystemFont,
	Segoe UI,
	Roboto,
	Helvetica Neue,
	Arial,
	sans-serif;

$font-family--headings-default:
	Playfair Display,
	Iowan Old Style,
	Apple Garamond,
	Baskerville,
	Times New Roman,
	Droid Serif,
	Times,
	Source Serif Pro,
	serif;

$font-family--body: var(
	--wp--preset--font-family--body,
	$font-family--body-default
);
$font-weight--body: 500;
$font-family--headings: var(
	--wp--preset--font-family--headings,
	$font-family--headings-default
);
$font-weight--headings: 500;
$font-family--labels: var(
	--wp--preset--font-family--body,
	$font-family--body-default
);
$font-weight--labels: 600;

// Font size.
$font-size--huge: var(
	--wp--preset--font-size--huge,
	clamp(50px, 3.125rem + ((1vw - 6px) * 4.762), 90px)
);
$font-size--x-large: var(
	--wp--preset--font-size--x-large,
	clamp(30px, 1.875rem + ((1vw - 6px) * 2.381), 50px)
);
$font-size--large: var(--wp--preset--font-size--large, 30px);
$font-size--big: var(--wp--preset--font-size--big, 24px);
$font-size--medium: var(--wp--preset--font-size--medium, 20px);
$font-size--medium-sm: var(--wp--preset--font-size--medium-sm, 18px);
$font-size--normal: var(--wp--preset--font-size--normal, 16px);
$font-size--small: var(--wp--preset--font-size--small, 14px);
$font-size--x-small: var(--wp--preset--font-size--x-small, 12px);
$font-size--input: var(--wp--preset--font-size--input, 15px);

.font {
	/* Font Family */
	&--body {
		font-family: $font-family--body;
		font-weight: $font-weight--body;
	}

	&--headings {
		font-family: $font-family--headings;
		font-weight: $font-weight--headings;
	}

	&--labels {
		font-family: $font-family--labels;
		font-weight: $font-weight--labels;
	}

	/* Font Size */
	&-size {
		&--huge {
			font-size: $font-size--huge;
			line-height: 1.2;

			@include min-width($breakpoint--mobile-lg) {
				line-height: 1.4;
			}
		}

		&--x-large {
			font-size: $font-size--x-large;
			line-height: 1.15;
			letter-spacing: 0.05em;

			@include min-width($breakpoint--mobile-lg) {
				line-height: 1.1;
			}
		}

		&--large {
			font-size: $font-size--large;
			line-height: 1.15;
		}

		&--big {
			font-size: $font-size--big;
			line-height: $line-height;
		}

		&--medium {
			font-size: $font-size--medium;
			line-height: $line-height;
		}

		&--medium-sm {
			font-size: $font-size--medium-sm;
			line-height: 1.15;
		}

		&--normal {
			font-size: $font-size--normal;
			line-height: $line-height;
		}

		&--small {
			font-size: $font-size--small;
			line-height: $line-height;
		}

		&--x-small {
			font-size: $font-size--x-small;
			line-height: $line-height;
		}

		&--input {
			font-size: $font-size--input;
			line-height: $line-height;
		}
	}

	/* Font Style */
	&-style {
		&--section-label {
			@extend .font-size--x-small;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			line-height: inherit;
		}

		&--page-title {
			@extend .font-size--x-large;
			@extend .font--headings;
			padding-top: 0.35em;
			padding-bottom: 0.35em;
		}
	}
}

.page-title {
	@extend .font-style--page-title;
	@extend .color--primary-main;
}
