// Font family.
$font-family--body-default:
	Montserrat,
	-apple-system,
	BlinkMacSystemFont,
	Segoe UI,
	Roboto,
	Helvetica Neue,
	Arial,
	sans-serif;

$font-family--headings-default:
	Playfair Display,
	Iowan Old Style,
	Apple Garamond,
	Baskerville,
	Times New Roman,
	Droid Serif,
	Times,
	Source Serif Pro,
	serif;

@mixin font($family) {
	@if $family == body {
		font-family: var(--font-family--body);
		font-weight: var(--font-weight--normal);
	}

	@if $family == headings {
		font-family: var(--font-family--headings);
		font-weight: var(--font-weight--normal);
	}

	@if $family == labels {
		font-family: var(--font-family--body);
		font-weight: var(--font-weight--semibold);
	}
}

@mixin font-size($size) {
	@if $size == huge {
		font-size: var(--font-size--huge);
		line-height: 1.2;

		@include min-width($breakpoint--mobile-lg) {
			line-height: 1.4;
		}
	}

	@if $size == xx-large {
		font-size: var(--font-size--xx-large);
		line-height: 1.15;
		letter-spacing: 0.05em;

		@include min-width($breakpoint--mobile-lg) {
			line-height: 1.1;
		}
	}

	@if $size == x-large {
		font-size: var(--font-size--x-large);
		line-height: 1.15;
		letter-spacing: 0.05em;

		@include min-width($breakpoint--mobile-lg) {
			line-height: 1.1;
		}
	}

	@if $size == large {
		font-size: var(--font-size--large);
		line-height: 1.15;
	}

	@if $size == big {
		font-size: var(--font-size--big);
		line-height: var(--line-height);
	}

	@if $size == medium {
		font-size: var(--font-size--medium);
		line-height: var(--line-height);
	}

	@if $size == medium-sm {
		font-size: var(--font-size--medium-sm);
		line-height: 1.15;
	}

	@if $size == normal {
		font-size: var(--font-size--normal);
		line-height: var(--line-height);
	}

	@if $size == normal-sm {
		font-size: var(--font-size--normal-sm);
		line-height: var(--line-height);
	}

	@if $size == small {
		font-size: var(--font-size--small);
		line-height: var(--line-height);
	}

	@if $size == small-sm {
		font-size: var(--font-size--small-sm);
		line-height: var(--line-height);
	}

	@if $size == x-small {
		font-size: var(--font-size--x-small);
		line-height: var(--line-height);
	}
}

@mixin font-style($style: "") {
	@if $style == page-title {
		margin-top: 0.35em;
		margin-bottom: 0.35em;
		@include font(headings);
		@include font-size(x-large);
	}

	@if $style == section-label {
		font-family: var(--font-family--body);
		font-weight: var(--font-weight--bold);
		text-transform: uppercase;
		letter-spacing: 0.2em;
		line-height: inherit;
		@include font-size(x-small);
	}

	@if $style == body {
		font-family: var(--font-family--body);
		text-transform: revert;
		letter-spacing: revert;
		line-height: inherit;
	}
}
