@mixin form-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing--30);
	width: 100%;

	[type="submit"] {
		margin-top: var(--spacing--10);
	}
}

@mixin fields-wrapper {
	--fields--row-gap: var(--spacing--30);
	display: grid;
	align-items: end;
	grid-template-columns: repeat(6, 1fr);
	column-gap: var(--spacing--20);
	row-gap: var(--fields--row-gap);
	max-width: var(--size--form, 570px);

	> * {
		grid-column: 1/7;
		margin: 0;
	}

	.form-row {
		.woocommerce-input-wrapper,
		.password-input {
			margin-top: var(--spacing--10);
		}

		@include min-width($breakpoint--mobile-sm) {
			&:has(label[for*="first_name"]) {
				grid-column: 1/4;
			}

			&:has(label[for*="last_name"]) {
				grid-column: 4/7;
			}
		}

		&:has(label[for*="postcode"]) {
			@include min-width($breakpoint--mobile-sm) {
				grid-column: 1/4;
			}

			@include min-width($breakpoint--desktop-sm) {
				grid-column: 1/3;
			}
		}

		&:has(label[for*="city"]) {
			@include min-width($breakpoint--mobile-sm) {
				grid-column: 4/7;
			}

			@include min-width($breakpoint--desktop-sm) {
				grid-column: 3/7;
			}
		}

		&:has(label[class="screen-reader-text"]) {
			margin-top: calc(var(--fields--row-gap) * -1);
		}

		em {
			font-style: normal;
			@include font-size(small-sm);
			display: block;
			padding-top: 0.5em;
			--line-height: 1.25;
		}
	}

	fieldset {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--30);

		legend {
			padding: var(--spacing--20) 0;
			@include font-style(section-label);
			@include color(base);
		}
	}

	label {
		& + .input-text {
			margin-top: var(--spacing--10);
		}
	}
}
