@mixin form-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing--15);
	width: 100%;

	[type="submit"] {
		margin-top: var(--spacing--10);
	}
}

@mixin fields-wrapper {
	--fields--row-gap: var(--spacing--20);

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: var(--spacing--20);
	row-gap: var(--fields--row-gap);
	max-width: var(--size--form, 570px);

	@include min-width($breakpoint--mobile) {
		--fields--row-gap: var(--spacing--30);
	}

	> * {
		grid-column: span 6;
		margin: 0;
	}

	@include min-width($breakpoint--mobile-sm) {
		> [id*="first_name"],
		.form-row-first {
			grid-column: span 3;
		}

		> [id*="last_name"],
		.form-row-last {
			grid-column: 4 / span 3;
		}

		&:has(> [id*="state"][style*="display: none"]) {
			&:has(> [id*="postcode"] ~ [id*="city"]) {
				> [id*="postcode"] {
					grid-column: span 2;
				}

				> [id*="city"] {
					grid-column: 3 / span 4;
				}
			}

			&:has(> [id*="city"] ~ [id*="postcode"]) {
				> [id*="postcode"] {
					grid-column: 5 / span 2;
				}

				> [id*="city"] {
					grid-column: span 4;
				}
			}
		}
	}

	[id*="address_2"] {
		margin-top: calc(-0.5 * var(--fields--row-gap));
	}

	.woocommerce-input-wrapper,
	.password-input {
		margin-top: var(--spacing--10);
	}

	:where(.form-row) {
		margin: 0;

		em {
			font-style: normal;
			@include font-size(small-sm);
			display: block;
			padding-top: 0.5em;
			--line-height: 1.25;
		}
	}

	fieldset {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--30);

		legend {
			padding: var(--spacing--20) 0;
			@include font-style(section-label);
			@include color(base);
		}
	}

	label {
		& + .input-text {
			margin-top: var(--spacing--10);
		}
	}
}
