// Input.
@mixin input {
	@include font-size(normal-sm);
	border: 1px solid var(--input--border, var(--wp--custom--color--base-6));
	background-color: var(
		--input--background-color,
		var(--wp--preset--color--grey)
	);
	color: var(--input--color, var(--wp--preset--color--text));
	@include transition;
	font-weight: inherit;
	width: 100%;
	padding: var(--input--padding-y, var(--spacing--15))
		var(--input--padding-x, var(--spacing--20));
	border-radius: var(--input--border-radius, var(--border-radius));
	--line-height: 1.2;

	&:hover {
		box-shadow: var(--shadow--2);
	}

	&:focus {
		background-color: var(--input--background-color--focus, white);
		border-color: var(--input--border--focus, var(--wp--preset--color--accent));
	}

	&::placeholder {
		opacity: 0.5;
		color: var(--input--placeholder, var(--wp--preset--color--text));
	}
}

@mixin input-sm {
	--input--padding-y: var(--spacing--10);
	--input--padding-x: var(--spacing--15);
	--input--border-radius: var(--border-radius--md);
	--line-height: 1.4;
}

// Radio.
@mixin radio {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid var(--radio--border, var(--wp--preset--color--text));
	@include flex(center);
	display: inline-flex;
	@include transition;
	-webkit-appearance: none;
	cursor: pointer;
	padding: 0;
	margin: 0;

	&::after {
		content: "";
		background-color: white;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		@include transition;
		transform: scale(1);
		transform-origin: center center;
		opacity: 0;
	}

	&:hover {
		box-shadow: var(--shadow--2);
	}

	&:checked {
		@include bg(accent);

		&::after {
			opacity: 1;
			transform: scale(0.5);
		}
	}

	& + label {
		margin-left: var(--spacing--10);
		margin-bottom: 0;
		@include font-size(normal-sm);
		@include radio-label;
	}
}

// Checkbox.
@mixin checkbox {
	width: 25px;
	height: 25px;
	border: 1px solid var(--radio--border, var(--wp--preset--color--text));
	display: inline-block;
	border-radius: var(--border-radius--xs);
	@include transition;
	-webkit-appearance: none;
	cursor: pointer;

	&:hover {
		box-shadow: var(--shadow--2);
	}

	&:checked {
		@include bg(accent);
		background-image: url(../icons/icon-tick.svg);
		background-position: center;
		background-repeat: no-repeat;
	}

	& + label {
		padding-top: 0.2em;
		@include radio-label;
	}
}

@mixin radio-label {
	font-weight: var(--font-weight--normal);
	@include transition;
	cursor: pointer;

	&:hover {
		opacity: 0.75;
	}

	&:active {
		opacity: 1;
		transition: none;
	}
}

// Select.
@mixin select-arrow {
	background-image: url(../images/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 13px) center;
	background-size: 12px 8px;
}
