// Breakpoints.
$breakpoint--mobile-sm: 375px;
$breakpoint--mobile: 600px;
$breakpoint--mobile-lg: 768px;
$breakpoint--desktop-sm: 1024px;
$breakpoint--desktop-md: 1180px;
$breakpoint--desktop: 1280px;
$breakpoint--desktop-lg: 1440px;

@mixin max-width($breakpoint) {
	@media (max-width: calc($breakpoint - 1px)) {
		@content;
	}
}

@mixin min-width($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

// Spacing.
:root {
	--spacing--5: var(--wp--preset--spacing--5, 5px);
	--spacing--10: var(--wp--preset--spacing--10, 10px);
	--spacing--15: var(--wp--preset--spacing--15, 15px);
	--spacing--20: var(--wp--preset--spacing--20, 20px);
	--spacing--30: var(--wp--preset--spacing--30, 30px);
	--spacing--40: var(--wp--preset--spacing--40, 40px);
	--spacing--50: var(--wp--preset--spacing--50, 50px);
}

// Content size.
:root {
	--size--container: var(--wp--style--global--wide-size, 1180px);
	--size--content: var(--wp--style--global--content-size, 768px);
}

@mixin container($type: "") {
	width: 100%;
	margin: auto;

	@if $type == content {
		max-width: var(--size--content);

		@include max-width($breakpoint--mobile-lg) {
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);
		}
	} @else {
		max-width: var(--size--container);

		@include max-width($breakpoint--desktop-md + 40px) {
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);
		}
	}
}

@mixin flex($align: "") {
	display: flex;

	@if $align == center {
		align-items: center;
		justify-content: center;
	} @else if $align == baseline {
		align-items: baseline;
	}
}

@mixin hide($device: "") {
	@if $device == desktop {
		@include min-width($breakpoint--desktop-sm) {
			display: none !important;
		}
	} @else if $device == mobile {
		@include max-width($breakpoint--desktop-sm) {
			display: none !important;
		}
	}
}
