// Breakpoints.
$breakpoint--mobile-sm: 450px;
$breakpoint--mobile: 600px;
$breakpoint--mobile-lg: 768px;
$breakpoint--desktop-sm: 1024px;
$breakpoint--desktop-md: 1180px;
$breakpoint--desktop: 1280px;
$breakpoint--desktop-lg: 1440px;
$breakpoint--desktop--height: 750px;

@mixin max-width($breakpoint, $container: null) {

	@if $container {

		@supports (container-type: inline-size) {

			@container #{$container} (max-width: #{$breakpoint - 1px}) {
				@content;
			}
		}

		@supports not (container-type: inline-size) {

			@media (max-width: calc($breakpoint - 1px)) {
				@content;
			}
		}
	} @else {

		@media (max-width: calc($breakpoint - 1px)) {
			@content;
		}
	}
}

@mixin min-width($breakpoint, $container: null) {

	@if $container {

		@supports (container-type: inline-size) {

			@container #{$container} (min-width: #{$breakpoint}) {
				@content;
			}
		}

		@supports not (container-type: inline-size) {

			@media (min-width: $breakpoint) {
				@content;
			}
		}
	} @else {

		@media (min-width: $breakpoint) {
			@content;
		}
	}
}

@mixin container($type: "") {
	width: 100%;
	margin: auto;

	@if $type == content {
		max-width: var(--size--content);

		@include max-width($breakpoint--mobile-lg) {
			padding-left: var(--spacing--20);
			padding-right: var(--spacing--20);
		}
	} @else {
		max-width: var(--size--container);
		padding-right: var(--wp--style--root--padding-right, var(--spacing--20));
		padding-left: var(--wp--style--root--padding-left, var(--spacing--20));
	}
}

@mixin flex($align: "") {
	display: flex;

	@if $align == center {
		align-items: center;
		justify-content: center;
	} @else if $align == baseline {
		align-items: baseline;
	}
}

@mixin hide($device: "") {

	@if $device == desktop {

		@include min-width($breakpoint--desktop-sm) {
			display: none !important;
		}
	} @else if $device == mobile {

		@include max-width($breakpoint--desktop-sm) {
			display: none !important;
		}
	} @else if $device == tablet {

		@include min-width($breakpoint--mobile-lg) {
			display: none !important;
		}
	}
}

@mixin circle($size: 40px) {
	width: $size;
	height: $size;
	border-radius: 50%;
}
