@mixin loop-item-link {
	@include transition(colors);
	border-radius: var(--border-radius);
	@include border(grey-4);
	overflow: hidden;
	font-weight: var(--font-weight--normal);

	&:hover {
		box-shadow: var(--shadow--2);
	}

	img {
		@include transition;
	}
}

@mixin loop-item-title {
	@include font-size(medium-sm);
	font-weight: var(--font-weight--bold);
	font-family: var(--font-family--body);
	letter-spacing: normal;
}
