@mixin side-nav($set-initial-position: true, $set-active-position: true) {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	z-index: var(--z-index--modal);
	padding: var(--spacing--20);
	margin-top: var(--wp-admin--admin-bar--height, 0);

	@if $set-initial-position {
		transform: translate3d(-100%, 0, 0);
	}

	@if $set-active-position {

		&.active {
			transform: translate3d(0, 0, 0);
		}
	}
}
