@mixin notice {
	display: block;
	border-radius: var(--border-radius);
	padding: var(--spacing--15);

	@include font-size(small);
	text-align: left;
	list-style: none;
	width: 100%;
	background-color: var(--notice--background-color, var(--wp--preset--color--grey));
	color: var(--notice--color, var(--wp--preset--color--body));

	@include min-width($breakpoint--mobile-lg) {
		padding-right: var(--spacing--20);
		padding-left: 20px !important;
	}

	&:is(ul) {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--5);
		list-style: none;
		margin: 0;
	}

	&:is(ul) li,
	&:is(:not(ul)) {

		&:has(span:only-child) {
			display: flex;
			gap: var(--spacing--5);
		}
	}

	&:is(ul) li::before,
	&:is(:not(ul))::before {
		content: var(--notice--icon);
		width: var(--notice-icon-size, 24px);
		height: var(--notice-icon-size, 24px);
		display: inline-block;
		vertical-align: middle;
		flex-shrink: 0;
		margin-right: var(--spacing--5);
	}

	a:has(strong) {
		font-weight: var(--font-weight--normal);
	}

	a:not(:hover) {
		color: inherit;
	}

	.button {

		&,
		&:hover {
			background: none;
			box-shadow: none;
			padding: 0;
			border-radius: 0;
			font-size: inherit;
		}
	}
}
