@mixin notice {
	display: block;
	border-radius: var(--border-radius);
	padding: var(--spacing--15);
	@include font-size(small);
	text-align: left;
	list-style: none;
	width: 100%;
	background-color: var(
		--notice--background-color,
		var(--wp--preset--color--grey)
	);
	color: var(--notice--color, var(--wp--preset--color--body));

	@include min-width($breakpoint--mobile-lg) {
		padding-right: var(--spacing--20);
		padding-left: 20px !important;
	}

	&:is(ul) li::before,
	&:is(:not(ul))::before {
		content: var(--notice--icon);
		margin-right: var(--spacing--5);
		width: var(--notice-icon-size, 24px);
		height: var(--notice-icon-size, 24px);
		display: inline-block;
		vertical-align: middle;
	}

	&:is(ul) {
		display: flex;
		flex-direction: column;
		gap: var(--spacing--5);
		list-style: none;
		margin: 0;

		li {
			&::before {
				margin-right: var(--spacing--10);
			}
		}
	}

	a:has(strong) {
		--font-weight--bold: var(--font-weight--normal);
	}

	.button {
		display: inline-block;
		vertical-align: text-top;

		&,
		&:hover {
			background: none;
			box-shadow: none;
			padding: 0;
			border-radius: 0;
			font-size: inherit;
		}
	}
}
