@mixin pagination {
	display: flex;
	flex-direction: row;
	gap: var(--spacing--20);
	flex-wrap: wrap;
	align-items: center;

	@include max-width($breakpoint--desktop-sm) {
		justify-content: center;
	}

	&:is(ul, ol) {

		@include list-reset;
	}

	a,
	span:not(.dots) {

		@include nav-button;
	}
}
