@mixin transition {
	transition-duration: var(--wp--custom--transition--duration);
	transition-timing-function: var(--wp--custom--transition--easing);
	transition-property: var(--wp--custom--transition--property);
}
