:root {
	--transition-fn: ease-out;
	--transition-time: 0.35s;
}

@mixin transition($property: "transform, opacity") {
	transition-duration: var(--transition-time);
	transition-timing-function: var(--transition-fn);

	@if $property == colors {
		transition-property: background-color, color, opacity, box-shadow,
			border-color;
	} @else {
		transition-property: unquote($property);
	}
}

.transition {
	@include transition;
}
