@import "utils";
@import "plugins/select2";
@import "plugins/delivery-time";
@import "plugins/free-shipping";
@import "plugins/delivery-point";
@import "plugins/paypal";
@import "plugins/paczkomaty";
@import "plugins/flexible-shipping";
@import "plugins/bl-paczka";
@import "templates/spinner";
@import "templates/checkout";
