@import "utils/mixins";
@import "utils/variables";

@import "components/badge";
@import "components/blocks";

.editor-styles-wrapper {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.wp-block {
		&-paragraph,
		&-list-item,
		&-footnotes {
			a {
				color: inherit;

				&:hover {
					color: var(--color--red-1);
				}
			}
		}

		&-post-title {
			max-width: none;
			padding-top: 0.35em;
			padding-bottom: 0.35em;
		}

		&-details {
			> * {
				&:last-child:not(.block-list-appender) {
					padding-bottom: var(--spacing--20);
				}
			}

			&:has(.block-list-appender) {
				> *:nth-last-child(2) {
					padding-bottom: var(--spacing--20);
				}
			}
		}
	}

	.editor-visual-editor__post-title-wrapper {
		max-width: var(--wp--style--global--wide-size);
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	b,
	strong {
		font-weight: 700;
	}

	:where(h1, h2, h3, h4, h5, h6) + :where(h1, h2, h3, h4, h5, h6) {
		margin-top: 0;
	}
}
