@import "utils";
@import "variables";
@import "@splidejs/splide/css/core";
@import "templates/blocks";
@import "components/splash";

.editor-styles-wrapper {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	container-type: inline-size;
	container-name: blocks;

	.wp-block {

		&-paragraph,
		&-list-item,
		&-footnotes {

			a {
				color: inherit;

				&:hover {
					color: var(--wp--custom--color--contrast);
				}
			}
		}

		&-post-title {
			max-width: none;
			padding-top: 0.35em;
			padding-bottom: 0.35em;
		}

		&-details {

			> * {

				&:last-child:not(.block-list-appender) {
					padding-bottom: var(--spacing--20);
				}
			}

			&:has(.block-list-appender) {

				> *:nth-last-child(2) {
					padding-bottom: var(--spacing--20);
				}
			}
		}
	}

	.wp-element {

		&-caption {

			/* stylelint-disable-next-line no-descending-specificity */
			a {
				color: var(--wp--preset--color--grey-3);

				&:hover {
					color: var(--wp--custom--color--contrast);
				}
			}
		}
	}

	.editor-visual-editor__post-title-wrapper {
		max-width: var(--wp--style--global--wide-size);
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	b,
	strong {
		font-weight: 700;
	}

	:where(p) {

		&:last-child {
			margin-bottom: 0;
		}
	}

	/*
	 * Editor post container.
	 * Mimic frontend .wp-site-blocks container.
	 *
	 * @todo: Remove after transition to full-block theme.
	 */
	.wp-block-post-content {
		padding-right: var(--wp--style--root--padding-right);
		padding-left: var(--wp--style--root--padding-left);

		> .alignfull {
			margin-right: calc(var(--wp--style--root--padding-right) * -1);
			margin-left: calc(var(--wp--style--root--padding-left) * -1);
		}

		:where(
		:not(.alignfull.is-layout-flow)
		> .has-global-padding:not(.wp-block-block, .alignfull)
	) {
			padding-right: 0;
			padding-left: 0;
		}

		:where(
		:not(.alignfull.is-layout-flow)
		> .has-global-padding:not(.wp-block-block, .alignfull)
	) > .alignfull {
			margin-left: 0;
			margin-right: 0;
		}
	}

	/* END Editor post container */

	/*
	 * Legacy widget areas.
	 */
	&[data-widget-area-id="header-top"],
	&[data-widget-area-id="mobile-menu-top"],
	&[data-widget-area-id="mobile-menu-after-nav"],
	&[data-widget-area-id="footer-bottom-mobile"] {
		padding-top: var(--spacing--10);
		padding-bottom: var(--spacing--10);
		background-color: var(--header--background-color, var(--wp--preset--color--base));

		.block-editor-block-list__layout {
			width: 100%;
			display: flex;
			align-items: top;
			justify-content: end;
			gap: var(--spacing--20);
		}
	}

	&[data-widget-area-id="footer-bottom-left"] {
		background-color: var(--wp--custom--color--base-2);

		.block-editor-block-list__layout {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: var(--spacing--20);
			padding-bottom: var(--spacing--20);
			gap: var(--spacing--20);
			flex-wrap: wrap;
		}
	}

	&[data-widget-area-id="footer-bottom-mobile"] {
		background-color: var(--wp--custom--color--base-4);
	}
}
