@import "_utils";
@import "_variables";

.editor-styles-wrapper {
	@import "templates/blocks";

	& {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		.wp-block {
			&-paragraph,
			&-list-item,
			&-footnotes {
				a {
					color: inherit;

					&:hover {
						color: var(--color--red-1);
					}
				}
			}

			&-post-title {
				max-width: none;
				padding-top: 0.35em;
				padding-bottom: 0.35em;
			}

			&-details {
				> * {
					&:last-child:not(.block-list-appender) {
						padding-bottom: var(--spacing--20);
					}
				}

				&:has(.block-list-appender) {
					> *:nth-last-child(2) {
						padding-bottom: var(--spacing--20);
					}
				}
			}
		}

		.wp-element {
			&-caption {
				a {
					color: var(--color--grey-2);

					&:hover {
						color: var(--color--red-1);
					}
				}
			}
		}

		.editor-visual-editor__post-title-wrapper {
			max-width: var(--wp--style--global--wide-size);
			padding: 0;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}

		b,
		strong {
			font-weight: 700;
		}
	}

	/*
	 * Editor post container.
	 * Mimic frontend .wp-site-blocks container.
	 *
	 * @todo: Remove after transition to full-block theme.
	 */
	.wp-block-post-content {
		padding-right: var(--wp--style--root--padding-right);
		padding-left: var(--wp--style--root--padding-left);

		& > .alignfull {
			margin-right: calc(var(--wp--style--root--padding-right) * -1);
			margin-left: calc(var(--wp--style--root--padding-left) * -1);
		}

		&
			:where(
				:not(.alignfull.is-layout-flow)
					> .has-global-padding:not(.wp-block-block, .alignfull)
			) {
			padding-right: 0;
			padding-left: 0;
		}

		&
			:where(
				:not(.alignfull.is-layout-flow)
					> .has-global-padding:not(.wp-block-block, .alignfull)
			)
			> .alignfull {
			margin-left: 0;
			margin-right: 0;
		}
	}
	/* END Editor post container */
}
