// Theme variables & utility classes.
@import "utils";
@import "variables";

// Reset / normalize.
@import "reset";

// Components.
@import "components/badge";
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/content";
@import "components/empty-screen";
@import "components/form-controls";
@import "components/modal";
@import "components/notice";
@import "components/pagination";
@import "components/slider";

// Templates.
@import "templates/common";
@import "templates/blocks";
@import "templates/menu";
@import "@splidejs/splide/css/core";
@import "templates/body";
@import "templates/header";
@import "templates/mini-cart";
@import "templates/product-search";
@import "templates/join-group";
@import "templates/footer";
@import "templates/content-header";
@import "templates/page";
@import "templates/featured-products";
@import "templates/price";
@import "templates/product-loop";
@import "templates/product-section";
@import "templates/post-slider";
@import "templates/spinner";
@import "templates/woo-coming-soon";
@import "templates/mushroom";

// 3rd party plugins.
@import "plugins/omnibus";
@import "plugins/wpml/legacy-dropdown";
@import "plugins/wpml/legacy-dropdown-click";
@import "plugins/wpml/menu-item";
@import "plugins/currency-language-switcher";
@import "plugins/wpcf7";
@import "plugins/safe-svg";
@import "plugins/curcy";
